.h1,
.h2,
.h3 {
  font-weight: $weight-semibold;
}

.h1 {
  font-size: 30px !important;
}

.h2 {
  font-size: 24px !important;
}

.h3 {
  font-size: 18px !important;
}

.f1 {
  font-size: 16px !important;
}

.f2 {
  font-size: 14px !important;
}

.f3 {
  font-size: 12px !important;
}

.f4 {
  font-size: 10px !important;
}

.lh-expanded {
  line-height: 1.75;
}

.lh-default {
  line-height: 1.5;
}

.lh-condensed {
  line-height: 1.25;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-top {
  vertical-align: text-top;
}

.text-bold {
  font-weight: 600;
}

.text-semibold {
  font-weight: $weight-semibold !important;
}

.text-normal {
  font-weight: normal !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: $color-white;
}

.text-gray {
  color: $color-gray--light;
}

.text-dark-gray {
  color: $color-gray--dark;
}

.text-red {
  color: $color-red !important;
}

.text-purple {
  color: $color-purple !important;
}

.text-green {
  color: $color-green !important;
}

.text-yellow {
  color: $color-yellow !important;
}

.text-orange {
  color: $color-orange !important;
}

.text-blue-iris {
  color: $color-blue-iris !important;
}

.text-coral {
  color: $color-coral !important;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.hover-text-white {
  &:hover,
  &:focus {
    color: $color-white;
  }
}

.hover-text-underline {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.text-color-code {
  align-items: center;
  border-radius: 1px;
  display: flex;
  height: 6px;
  margin-right: $spacing-2;
  width: 6px;
}

.css-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
