/**
** Colors
**/

$color-purple: #696cff;
$color-purple50: rgba($color-purple, 0.5);

$color-blue: #1b9ffb;
$color-blue50: rgba($color-blue, 0.5);

$color-green: #85d81d;
$color-parakeet-green: #03c04a;
$color-emerald-green: #028a0f;
$color-rainforest-green: #00755e;
$color-yellow: #d8cd1d;
$color-orange: #ffad00;
$color-coral: #ff6969;
$color-red: #ff3e1d;
$color-brown: #9e702b;

$color-teal: rgb(64, 224, 208);
$color-teal--50: rgba($color-teal, 0.5);

$color-blue-iris: #4a4eae;
$color-blue-iris50: rgba($color-blue-iris, 0.5);

$color-white: #ffffff;
$color-white--75: rgba($color-white, 0.75);
$color-white--50: rgba($color-white, 0.5);
$color-white--25: rgba($color-white, 0.25);

$color-gray--light: #a2afcd;
$color-gray--medium: #72809d;
$color-gray--dark: #6d7a96;
$color-gray--dark50: rgba($color-gray--dark, 0.5);

$color-charcoal--light: #262e3d;
$color-charcoal--light70: rgba($color-charcoal--light, 0.7);
$color-charcoal--medium: #151b28;
$color-charcoal--medium70: rgba($color-charcoal--medium, 0.7);
$color-charcoal--medium-dark: #0d1320;
$color-charcoal--medium-dark70: rgba($color-charcoal--medium-dark, 0.7);
$color-charcoal--dark: #00070d;
$color-charcoal--dark70: rgba($color-charcoal--dark, 0.7);
$color-charcoal--brown: #2e2314;
$color-charcoal--red: #281d26;
$color-steel--dark: #3d4147;
$color-steel--medium: #5c626b;

/**
** Font Weights
**/

$weight-regular: 400;
$weight-semibold: 600;

/**
** Spacing
**/

$spacing-0: 0;
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 16px;
$spacing-4: 24px;
$spacing-5: 32px;
$spacing-6: 40px;

/**
** Layout
**/
// Breakpoint widths
$width-xs: 0 !default;
// Small screen / phone
$width-sm: 544px !default;
// Medium screen / tablet
$width-md: 768px !default;
// Large screen / desktop (980 + (16 * 2)) <= container + gutters
$width-lg: 1012px !default;
// Extra large screen / wide desktop
$width-xl: 1280px !default;

// Responsive container widths
$container-sm: $width-sm !default;
$container-md: $width-md !default;
$container-lg: $width-lg !default;
$container-xl: $width-xl !default;

// Breakpoints in the form (name: length)
$breakpoints: (
  xs: $width-xs,
  sm: $width-sm,
  md: $width-md,
  lg: $width-lg,
  xl: $width-xl,
) !default;
