/**
** Colors
**/

$color-white: #ffffff;
$color-purple: #696cff;
$color-green: #85d81d;
$color-blue: #1b9ffb;
$color-yellow: #d8cd1d;
$color-coral: #ff6969;
$color-red: #ff3e1d;

$color-gray--light: #a2afcd;
$color-gray--medium: #72809d;
$color-gray--dark: #6d7a96;
$color-gray--dark50: rgba($color-gray--dark, .5);

$color-charcoal--light: #262e3d;
$color-charcoal--light70: rgba($color-charcoal--light, .7);
$color-charcoal--medium: #151b28;
$color-charcoal--medium70: rgba($color-charcoal--medium, .7);
$color-charcoal--dark: #00070d;
$color-charcoal--dark70: rgba($color-charcoal--dark, .7);
$color-charcoal--red: #281d26;



/**
** Font Weights
**/

$weight-regular: 400;
$weight-semibold: 600;


/**
** Spacing
**/

$spacing-0:	0;
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 16px;
$spacing-4: 24px;
$spacing-5: 32px;
$spacing-6: 40px;