[submodule "scripts/packages/tator-py"]
	path = scripts/packages/tator-py
	url = ../tator-py.git
[submodule "scripts/packages/tator-r"]
	path = scripts/packages/tator-r
	url = ../tator-r.git
[submodule "scripts/packages/tator-js"]
	path = scripts/packages/tator-js
	url = ../tator-js
[submodule "containers/tator_transcode"]
	path = containers/tator_transcode
	url = ../tator-transcode
