*__pycache__*
main/migrations/*
*.sqlite*
*/build/*
*~
.sass-cache/*
doc/tator-r/*
ui/node_modules/*
ui/dist/*
ui/**/index.js
ui/server/static/tator.js
ui/server/static/tator.min.js
ui/server/static/vid_downloader.js
ui/legacy/*
containers/nginx/nginx.conf
examples/algorithms/groundfish_demo/fishtrackingdata
api/main/version.py
scripts/cert/*
tator-image
tator-transcoder
tus-image
postgis-image
.min_js
helm/tator/charts/*
helm/tator/Chart.lock
containers/*.whl
real-secrets.yaml
helm/tator/values.yaml
token.txt
.token
package-lock.json

# Dev files
tags*
Bento4-SDK-1-6-0-632.x86_64-unknown-linux/*
google-chrome-stable_current_amd64.deb
Bento4-SDK-1-6-0-632.x86_64-unknown-linux.zip
h
.vscode/settings.json
containers/tator_client_braw/Blackmagic_RAW_Linux_2.2.1.tar
helm/tator/configs/*
**/debug.log
**/.pylint-venv
.env
test-results
rest-junit.xml
*.swp

# Hidden mac files
._.
._.*
.DS_Store
*.DS_Store
*DS_Store*

# CI Files
rest-junit.xml
