*__pycache__*
main/migrations/*
*.sqlite*
*/build/*
*~
.sass-cache/*
main/static/css/tator/.sass-cache/*
main/static/css/tator/tator.min.css
main/static/css/tator/tator.min.css.map
main/static/js/tator/*
node_modules/*
package-lock.json
containers/nginx/nginx.conf
k8s/real-secrets.yaml
examples/algorithms/groundfish_demo/fishtrackingdata
main/version.py
tator-image
marshal-image
tus-image
postgis-image
*.min.js
.min_js
helm/tator/charts/*
helm/tator/Chart.lock
containers/*.whl
helm/tator/templates/real-secrets.yaml
