.add-new {
  border: 2px dashed $color-charcoal--light70;
  height: 100px;
  transition-duration: 0.25s;
  transition-property: background-color, border-style, color; // Border-style only for add / remove people from project
  &:hover,
  &:focus {
    background-color: $color-charcoal--medium70;
    color: $color-white;

    .add-new__icon {
      background-color: $color-white;
      color: $color-charcoal--medium;
    }
  }
}

.add-new {
  &.add-new-in-form {
    height: auto;

    &:hover,
    &:focus {
      background-color: $color-charcoal--light;
    }
  }
}

.add-new__icon {
  background-color: $color-charcoal--medium;
  height: 34px;
  transition-duration: 0.25s;
  transition-property: background-color, color;
  width: 34px;
  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-charcoal--medium;
  }
  .avatar + & {
    margin-left: $spacing-1;
  }
  #js-invite-people & {
    background-color: $color-charcoal--light70;
    &:hover,
    &:focus {
      background-color: $color-white;
    }
  }
}
