.annotation__header {
  flex-grow: 1;
}

.annotation__breadcrumbs {
  button {
    margin-left: $spacing-3;
    justify-content: space-between;
    width: 146px;
  }
}

.annotation__setting {
  background-color: $color-charcoal--light;
  margin-left: $spacing-2;
  height: 32px;

  &:disabled,
  [disabled] {
    background-color: $color-charcoal--light;
    color: $color-gray--dark;
    cursor: not-allowed;
  }
}

.annotation__shape {
  background-color: $color-charcoal--medium;
  margin-bottom: $spacing-2;
  &.is-selected {
    color: $color-white;
  }

  &:disabled,
  [disabled] {
    background-color: $color-charcoal--light;
    color: $color-gray--dark;
    cursor: not-allowed;
  }

  svg {
    height: 22px;
    width: 22px;
  }
}

.annotation__shape-indicator {
  background-color: $color-purple;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 6px;
  transition-duration: 0.25s;
  transition-property: transform;

  box-button.is-selected
    + line-button
    + point-button
    + poly-button
    + track-button
    + zoom-in-button
    + zoom-out-button
    + pan-button
    + & {
    transform: translateY(62px);
  }

  line-button.is-selected
    + point-button
    + poly-button
    + track-button
    + zoom-in-button
    + zoom-out-button
    + pan-button
    + & {
    transform: translateY(124px);
  }

  point-button.is-selected
    + poly-button
    + track-button
    + zoom-in-button
    + zoom-out-button
    + pan-button
    + & {
    transform: translateY(186px);
  }

  poly-button.is-selected
    + track-button
    + zoom-in-button
    + zoom-out-button
    + pan-button
    + & {
    transform: translateY(248px);
  }

  track-button.is-selected + zoom-in-button + zoom-out-button + pan-button + & {
    transform: translateY(310px);
  }

  zoom-in-button.is-selected + zoom-out-button + pan-button + & {
    transform: translateY(372px);
  }

  pan-button.is-selected + & {
    transform: translateY(496px);
  }
}

.annotation__panels {
  flex-shrink: 0;
  min-width: 560px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.annotation__panel {
  background-color: $color-charcoal--medium;
  margin-bottom: $spacing-3;
  overflow: hidden;
}

.annotation_browser_wrapper {
  background-color: $color-charcoal--medium-dark;
}

.annotation_browser_settings_wrapper {
  background-color: $color-charcoal--dark;
}

.annotation_browser_header_panel {
  background-color: $color-charcoal--medium;
  margin-bottom: $spacing-3;
}

save-dialog {
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 70%) 3px 3px 15px 5px;
  width: 600px;
  opacity: 0;
  overflow: initial;
  pointer-events: none;
  position: absolute;
  transform: scale(0.95);
  transition-duration: 0.25s;
  transition-property: transform, opacity;
  z-index: 4;
  &.is-open {
    opacity: 1;
    pointer-events: initial;
    transform: scale(1);
  }
}

.save-dialog-bottom-border {
  border-bottom: 1px solid $color-charcoal--light;
}

.save-dialog-attribute-panel {
  background-color: $color-charcoal--dark;
}

modify-track-dialog {
  box-sizing: border-box;
  width: 334px;
  opacity: 0;
  overflow: initial;
  box-shadow: rgb(0 0 0 / 70%) 3px 3px 15px 5px;
  pointer-events: none;
  position: absolute;
  transform: scale(0.95);
  transition-duration: 0.25s;
  transition-property: transform, opacity;
  z-index: 4;
  &.is-open {
    opacity: 1;
    pointer-events: initial;
    transform: scale(1);
  }
}

.annotation__panel-group {
  //   max-height: calc(100vh - 307px);
  //   overflow-y: auto;
  //   border-top: 1px solid $color-charcoal--light;
  //   padding-bottom: $spacing-3;

  button {
    justify-content: space-between;
    width: (8 / 12 * 100%); // Same as col-8
  }
}

.annotation__panel-border {
  border: 1px solid $color-charcoal--medium;
}

.annotation__entities {
  max-height: calc(100vh - 207px);
  overflow-y: auto;
  li {
    attribute-panel {
      display: none;
      background-color: $color-charcoal--dark;
    }
    &.is-open,
    &:hover {
      background-color: $color-charcoal--light;
    }
    &.is-open {
      .annotation__frame-player {
        display: grid;
      }
      attribute-panel {
        display: block;
      }
    }
    &:last-child {
      margin-bottom: $spacing-3;
    }
  }
}

.entity__selector {
  &.is-open,
  &:hover {
    background-color: $color-charcoal--light;

    .annotation__entity-count {
      opacity: 1;
    }
  }
}

.annotation__entity {
  height: 45px;
}

.annotation__entity-count {
  background-image: linear-gradient(
    to right,
    rgba($color-charcoal--light, 0%),
    $color-charcoal--light 15%
  ); // Safari bug on transparent
  opacity: 0;
  position: absolute;
  right: 0;
}

.entity__button {
  background-color: $color-charcoal--medium;
  transition-duration: 0.25s;
  transition-property: background-color, color;
  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-charcoal--medium;
  }
}

.annotation__frame-player {
  display: none;
  grid-gap: $spacing-2;
  grid-template-columns: min-content auto;
  padding-bottom: $spacing-4;

  button {
    &:hover,
    &:focus {
      color: $color-gray--dark;
    }
  }
}

.annotation__recents {
  flex-wrap: wrap;
}

favorite-button {
  margin-bottom: $spacing-2;
  margin-right: $spacing-2;
}

.favorites-panel {
  border: 1px solid $color-charcoal--light;
  background-color: $color-charcoal--medium;
}

.annotation__multi-grid {
  display: grid;
}

.annotation__multi-grid-entry {
  justify-self: center;
  align-self: center;
}

.annotation__multi-player {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  margin-bottom: $spacing-3;
  margin-top: $spacing-3;
  width: 100%;
  &.is-full-screen {
    margin-right: $spacing-3;

    & + .annotation__panels {
      display: none;
    }

    .video__maximize {
      display: none;
    }

    .video__minimize {
      display: block;
    }
  }
}

.annotation__version-list {
  overflow-y: auto;
  max-height: 240px;
}

.annotation__announcement-list {
  overflow-y: auto;
  max-height: 240px;
}

.annotation__announcement {
  border-bottom: 1px solid $color-charcoal--light;
}

.annotation__video-player {
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  margin-bottom: $spacing-3;
  margin-top: $spacing-3;
  width: 100%;
  &.is-full-screen {
    margin-right: $spacing-3;

    & + .annotation__panels {
      display: none;
    }

    .video__maximize {
      display: none;
    }

    .video__minimize {
      display: block;
    }
  }
}

.video__minimize {
  display: none;
}

video-canvas,
annotation-image,
annotation-player {
  width: 100%;
}

.video {
  width: 100%;
  background: black;
}

.video__controls {
  background-color: $color-charcoal--medium;
  min-height: 64px;
}

.scrub__bar {
  background-color: $color-charcoal--medium;
  padding-bottom: 16px;
}

.video__rewind {
  &:hover,
  &:focus {
    color: $color-purple;
  }

  &:disabled,
  [disabled] {
    color: $color-gray--dark;
    cursor: not-allowed;
  }
}

.video__fast-forward {
  margin-right: 16px;
  &:hover,
  &:focus {
    color: $color-purple;
  }

  &:disabled,
  [disabled] {
    color: $color-gray--dark;
    cursor: not-allowed;
  }
}

.video__play-wrap {
  background-color: $color-charcoal--light;
  height: 36px;
  width: 36px;
  &:hover,
  &:focus {
    background-color: $color-purple;
  }

  .video__play {
    padding-left: 2px; // Optically center play button
  }

  &.is-paused {
    .video__play {
      display: none;
    }
    .video__pause {
      display: block;
    }
  }

  &:disabled,
  [disabled] {
    color: $color-gray--dark;
    cursor: not-allowed;
  }
}

.video__pause {
  display: none;
}

.select-crosshair {
  cursor: crosshair;
}

.select-pointer {
  cursor: pointer;
}

.select-grabbing {
  cursor: grabbing;
}

.select-grab {
  cursor: grab;
}

.select-move {
  cursor: move;
}
.select-vertical-resize {
  cursor: ns-resize;
}

.select-horizontal-resize {
  cursor: ew-resize;
}

.select-ne-resize {
  cursor: ne-resize;
}

.select-se-resize {
  cursor: se-resize;
}

.select-nw-resize {
  cursor: nw-resize;
}

.select-sw-resize {
  cursor: sw-resize;
}

.select-zoom-roi {
  cursor: zoom-in;
}

.select-not-allowed {
  cursor: not-allowed;
}

.annotation-browser-btn {
  align-items: center;
  background-color: $color-charcoal--medium-dark;
  border: 1px #1e2129;
  border-radius: 3px;
  color: #a2afcd;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
  transition-duration: 0.25s;
  transition-property: background-color, color;
}
.annotation-browser-btn:focus {
  outline: none;
}
.annotation-browser-btn.active,
.annotation-browser-btn:hover,
.annotation-browser-btn:focus {
  background-color: #ffffff;
  color: #262e3d;
}

.page-tab {
  align-items: center;
  background-color: #262e3d;
  border: 1px #1e2129;
  color: #a2afcd;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  transition-duration: 0.25s;
  transition-property: background-color, color;
}
.page-tab:focus {
  outline: none;
}
.page-tab.active,
.page-tab:hover,
.page-tab:focus {
  background-color: #4a4eae;
  color: #ffffff;
}

.box-border {
  border: 1px solid #262e3d;
}
.purple-box-border {
  border: 2px solid #4a4eae;
}

.tab-btn {
  align-items: center;
  background-color: #262e3d;
  border: 1px #1e2129;
  border-radius: 3px;
  color: #a2afcd;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 150px;
  transition-duration: 0.25s;
  transition-property: background-color, color;
  margin-left: 10px;
}
.tab-btn:focus {
  outline: none;
}
.tab-btn.active,
.tab-btn:hover,
.tab-btn:focus {
  background-color: #4a4eae;
  color: #ffffff;
}

.video__settings {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  border-bottom: 1px solid $color-charcoal--light;
  border-top: 1px solid $color-charcoal--light;
}

.video-timeline-control {
  box-sizing: border-box;
  width: 250px;
  overflow: initial;
  position: absolute;
  z-index: 10;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2px;
}

.annotation-canvas-overlay-menu {
  box-sizing: border-box;
  overflow: initial;
  position: absolute;
  z-index: 10;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2px;
}

.annotation-canvas-overlay-menu-back {
  padding: 8px;
  border-bottom: 1px solid $color-charcoal--light;
}

.annotation-canvas-overlay-menu-option {
  cursor: pointer;
  transition-duration: 0.25s;
  transition-property: background-color, color;
  &:focus {
    outline: none;
  }
  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-purple50;
  }
}
