.avatar {
  background-color: $color-blue;
  height: 34px;
  width: 34px;
  .projects .avatars & {
    box-shadow: 0 0 0 3px $color-charcoal--medium;
  }
  .project__collaborators.avatars & {
    box-shadow: 0 0 0 3px $color-charcoal--dark;
  }
}

.avatars {
  .avatar {
    box-shadow: 0 0 0 3px $color-charcoal--medium;
  }
}

.avatar--large {
  height: $spacing-6;
  width: $spacing-6;
}
