.avatar {
  background-color: var(--color-blue);
  height: 34px;
  width: 34px;
  .projects .avatars & {
    box-shadow: 0 0 0 3px var(--color-charcoal--medium);
  }
  .project__collaborators.avatars & {
    box-shadow: 0 0 0 3px var(--color-charcoal--dark);
  }
}

.avatars {
  .avatar {
    box-shadow: 0 0 0 3px var(--color-charcoal--medium);
  }
}

.avatar--large {
  height: var(--spacing-6);
  width: var(--spacing-6);
}
