.bulk-edit-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  // background: $color-gray--light;
  background: $color-charcoal--dark;
  border-top: 5px solid $color-gray--light;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.8);
  resize: horizontal;
  transition: height 500ms ease-out;

  &.minimized {
    height: 30px;
  }
}

.bulk-edit-bar_top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  // background-color: $color-purple50;
  // background-color: $color-charcoal--medium-dark;
  // content: "SELECTION MODE";
  color: $color-white;
  text-align: center;
  padding: $spacing-3 $spacing-6;
}
kbd {
  color: $color-white;
  background: $color-purple50;
  font-family: monospace;
  border-radius: 3px;
  padding: 2px;
}
.resizer {
  width: 10px;
  height: 10px;
  background: blue;
  position: absolute;
  top: 0;
}

entity-gallery-bulk-edit {
  position: fixed;
  top: 0;
  z-index: 50;
}
.bulk-edit--cancel {
  // X CANCEL

  // button {
  position: absolute;
  top: 0;
  left: 0;

  margin-bottom: $spacing-3;
  margin-left: -$spacing-1; // SVG includes a bit of space around it
  &:hover,
  &:focus {
    color: $color-white;
  }

  &.has-background svg {
    background-color: $color-charcoal--light;
  }
  // }
  &:after {
    content: "[Esc]";
    color: $color-gray--light;
    display: block;
    font-size: 12px;
    &:hover,
    &:focus {
      color: $color-white;
    }
  }
}

.entity-card.multi-select {
  position: realtive;
  &:before {
    content: " ";
    width: 25px;
    height: 25px;
    background-color: $color-charcoal--medium-dark;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 0 5px 0;
    border: 5px solid $color-charcoal--light;
  }
  &.is-selected {
    &:before {
      background-color: $color-purple;
      // border: 3px solid #696cff;
    }
  }
}

.bulk-edit-bar--right_form {
  padding-left: 5%;
}

.bulk-edit-attr-choices,
.bulk-edit-form__panel-group {
  background: $color-charcoal--medium-dark;
  max-height: 300px;
  overflow-y: scroll;
}

.bulk-edit-attr-choices_bulk-edit {
  overflow: hidden;
  max-height: 200px;
  overflow-y: scroll;
  .entity-gallery-labels {
    background: $color-charcoal--medium-dark;
  }
}

.scroll-comparison-panel {
  // max-height: 200px;
  overflow-y: scroll;
}

.annotation__panel-group_bulk-edit {
  // border: 1px solid $color-gray--light;
  border-radius: 3px;
  // padding: 25px 10px;
  position: relative;
}

.bulk-edit-legend {
  position: absolute;
  left: 15px;
  top: -9px;
  background-color: $color-charcoal--medium-dark;
  border-radius: 30px;
  border: 1px solid $color-charcoal--light;
  padding: 5px;
}

entity-card:focus {
  // border: 2px solid white;
  .entity-card.multi-select {
    border: 2px solid white;
  }
}

.collapse-bulk-edit-bar {
  height: 50px;
}

[class^="arr-"] {
  border: solid $color-gray--light;
  border-width: 0 0.1em 0.1em 0;
  display: inline-block;
  padding: 0.2em;
}
.arr-right {
  transform: rotate(-45deg);
}
.arr-left {
  transform: rotate(135deg);
}
.arr-down {
  transform: rotate(45deg);
}
.arr-up {
  transform: rotate(-135deg);
}
