.btn {
  align-items: center;
  background-color: $color-purple;
  border-radius: 3px;
  color: $color-white;
  cursor: pointer;
  display: flex;
  height: 46px;
  justify-content: center;
  width: 148px;
  transition-duration: 0.25s;
  transition-property: background-color, color;
  text-align: center;

  &:focus {
    outline: none;
  }
  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-purple;
  }
  &:disabled,
  [disabled] {
    background-color: $color-charcoal--light;
    color: $color-gray--dark;
    cursor: not-allowed;
    &:hover,
    &:focus {
      background-color: $color-charcoal--light;
      color: $color-gray--dark;
    }
  }
}

.btn.text-gray {
  color: $color-gray--light;
}

.btn-warning {
  background-color: $color-brown;
  &:hover,
  &:focus {
    color: $color-brown;
  }
  &:disabled,
  [disabled] {
    background-color: $color-charcoal--brown;
    color: $color-gray--dark;
  }
}

.btn-purple50 {
  background-color: $color-purple50;
  color: $color-white;
  &:hover,
  &:focus {
    background-color: $color-charcoal--light;
    color: $color-white;
  }
}

.btn-purple {
  background-color: $color-purple;
  color: $color-white;
  &:hover,
  &:focus {
    background-color: $color-charcoal--light;
    color: $color-white;
  }
}

.btn-red {
  background-color: $color-red;
  &:hover,
  &:focus {
    color: $color-red;
  }
  &:disabled,
  [disabled] {
    background-color: $color-charcoal--red;
    color: $color-gray--dark;
  }
}

.btn-charcoal {
  background-color: $color-charcoal--light;
  &:hover,
  &:focus {
    color: $color-charcoal--light;
  }
}

.btn-charcoal-medium {
  background-color: $color-charcoal--medium;
  &:hover,
  &:focus {
    color: $color-charcoal--light;
  }
}

.btn-outline {
  background-color: transparent;
  border: 1px solid $color-gray--dark50;
  color: $color-gray--dark;
  &:hover,
  &:focus {
    border-color: transparent;
    color: $color-charcoal--light;
  }
  &:hover,
  &:focus {
    .text-white {
      color: $color-charcoal--light;
    }
  }
  &:disabled,
  [disabled] {
    background-color: transparent;
    color: $color-gray--dark !important;
    border: 1px solid $color-gray--dark50 !important;
    &:hover,
    &:focus {
      background-color: transparent;
      color: $color-gray--dark !important;
      border: 1px solid $color-gray--dark50 !important;
    }
  }
}

.btn-border {
  border: 1px solid $color-gray--dark50;
  color: $color-gray--dark;
}

.btn-small {
  height: 32px;
  width: 85px;
}

.btn-small-height {
  height: 22px;
}

.btn-width {
  width: initial;
}

.btn-fit-content {
  width: fit-content;
}

.btn-edit-overlay {
  position: absolute;
  bottom: 10px;
}

.border-green {
  border: 1px solid $color-green;
}

.border-red {
  border: 1px solid $color-red;
}

.border-orange {
  border: 1px solid $color-orange;
}

.border-purple {
  border: 1px solid $color-purple;
}

.btn-auto-width {
  width: auto;
}

.btn.background-green,
.background-green {
  background-color: $color-rainforest-green;

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-rainforest-green;
  }
  &:disabled,
  [disabled] {
    background-color: transparent;
    color: $color-gray--dark !important;
    border: 1px solid $color-gray--dark50 !important;
    &:hover,
    &:focus {
      background-color: transparent;
      color: $color-gray--dark !important;
      border: 1px solid $color-gray--dark50 !important;
    }
  }
}

.background-red {
  background-color: $color-red !important;
}

.background-orange {
  background-color: $color-orange !important;
}

.background-purple {
  background-color: $color-purple !important;
}
