:root {
   --font-preference-basis: calc((1/16) * (16/16) * 1rem);
   --screen-size-basis: calc((100/1440) * (16/16) * 1vw);

   --font-size-basis: var(--font-preference-basis);
   /* --font-size-basis: max(
 var(--font-preference-basis),
 var(--screen-size-basis)
);
--font-size-basis: max(
 var(--font-preference-basis),
 min(
   var(--screen-size-basis),
   calc(var(--font-preference-basis) * 2)
 )
);
--font-size-basis: clamp(
 var(--font-preference-basis),
 var(--screen-size-basis),
 calc(var(--font-preference-basis) * 2)
); */

   --font-size-80: calc(80 * var(--font-size-basis));
   --font-size-44: calc(44 * var(--font-size-basis));
   --font-size-32: calc(32 * var(--font-size-basis));
   --font-size-24: calc(24 * var(--font-size-basis));
   --font-size-18: calc(18 * var(--font-size-basis));
   --font-size-16: calc(16 * var(--font-size-basis));
   --font-size-14: calc(14 * var(--font-size-basis));
   --font-size-12: calc(12 * var(--font-size-basis));
   --font-size-10: calc(10 * var(--font-size-basis));

   --font-weight-bold: bold;
   /* 700 */
   --font-weight-medium: 600;
   --font-weight-regular: 500;
   --font-weight-book: normal;
   /* 400 */

   --vertical-rhythm: calc(19 * var(--font-size-basis));

   /* --line-height-1: calc(var(--vertical-rhythm) * 1);
--line-height-2: calc(var(--vertical-rhythm) * 2);
--line-height-3: calc(var(--vertical-rhythm) * 3);
--line-height-4: calc(var(--vertical-rhythm) * 4); */

   --line-height-1: 1.5;
   --line-height-2: 1.5;
   --line-height-3: 1.5;
   /* --line-height-4: 1.5; */
   --line-height-5: 1.5;

   --line-height-base-12: calc(14 * var(--font-size-basis));
   --line-height-base-14: calc(14 * var(--font-size-basis));
   --line-height-base-17: calc(17 * var(--font-size-basis));
   --line-height-base: calc(19 * var(--font-size-basis));
   --line-height-1: calc(22 * var(--font-size-basis));
   --line-height-1-point-5: calc(29 * var(--font-size-basis));
   --line-height-2: calc(38 * var(--font-size-basis));
   --line-height-3: calc(53 * var(--font-size-basis));
   /* --line-height-4: calc(75 * var(--font-size-basis)); */
   --line-height-5: calc(96 * var(--font-size-basis));

   --space-one-half: calc(16 * var(--font-size-basis));
   --space-two-thirds: calc(24 * var(--font-size-basis));
   --space-one-and-a-half: calc(48 * var(--font-size-basis));

   --space-1: calc(32 * var(--font-size-basis));
   --space-2: calc(64 * var(--font-size-basis));
   --space-3: calc(96 * var(--font-size-basis));
 }

 .image-details {
   // padding: 50px;
   display: grid;
   grid-template-columns: 16fr 9fr;
   grid-column-gap: var(--space-2);
   grid-row-gap: var(--space-1);
 }

 .image-details__toast {
   grid-row: 1 / 2;
   grid-column: 1 / -1;
   justify-self: center;
   margin-top: calc(48 * var(--font-size-basis) * -1);
 }

 .image-details__toast~.image-details__header,
 .image-details__toast~.image-details__figure {
   grid-row-start: 2;
 }

 .image-details__header {
   grid-column: -2 / -1;
   grid-row-start: 1;
   display: grid;
   grid-template-columns: auto 1fr;
   grid-column-gap: calc(24 * var(--font-size-basis));
 }

 .image-details__label {
   align-self: start;
   justify-self: end;
   grid-column: 2 / 3;
   grid-row: 1 / 3;
 }

 .image-details__label {
   margin: 0;
 }

 .image-details__meta {
   margin: 0;

   /* Same line height as .image-details__title */
   line-height: var(--line-height-2);
 }

 /* .image-details__title {
grid-column: 1 / 2;
}

.image-details__label {
grid-column: -2 / -1;
}

.image-details__meta {
grid-row: 2;
} */

 .image-details__header>h1 {
   margin: 0;
 }

 .image-details__figure {
   grid-column: 1 / 2;
   grid-row: 1 / span 2;
 }

 .image-details__meta-boxes {
   grid-column: -2 / -1;
 }

 .image-details__meta-box+.image-details__meta-box {
   margin-top: var(--space-1);
 }

 .image-details__figure {
   margin: 0;
 }

 .image-details__image {
   width: 100%;
   height: auto;
   border-radius: calc(10 * var(--font-size-basis));
 }

 .image-details__image--sticky {
   position: sticky;
   top: var(--space-2);
 }

 .image-details__download-button {
   position: absolute;
   z-index: 1;
   bottom: calc(24 * var(--font-size-basis));
   left: calc(24 * var(--font-size-basis));
 }

 .image-details__edit-button {
   position: absolute;
   z-index: 1;
   top: calc(24 * var(--font-size-basis));
   right: calc(24 * var(--font-size-basis));
 }

 .image-details__form {
   grid-column: 1 / 2;
   grid-row: 3 / span 4;
 }
 .image-details__footer {
   grid-column: 1 / -1;
   position: sticky;
   bottom: 0;
 }

 /* Make transitions between images feel smoother */
 .image-details[data-state]:not([data-state="loading"]) {
   transition: opacity 1s;
 }

 .image-details[data-state="loading"] {
   opacity: 0;
 }
 .annotation-details {
   --header-height: calc(104 * var(--font-size-basis));
   --footer-height: calc(88 * var(--font-size-basis));
   --figure-height: calc(100vh - var(--header-height) - var(--footer-height));
   --figure-width: 100vw;

   background-color: #212841;
   color: var(--text-color);

   display: grid;
   width: 100vw;
   height: 100vh;
   box-sizing: border-box;
   grid-template-columns: auto;
   grid-template-rows: auto 1fr auto;
   grid-template-rows: var(--header-height) var(--figure-height) var(--footer-height);
 }

 .annotation-details__header {
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   padding: 0 var(--space-one-and-a-half);

   /* position: sticky;
top: 0; */
   background-color: #212841;
   color: var(--text-color);

   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-color: #557AFF;
 }

 .annotation-details__header-title {
   /* Middle column */
   grid-column: 2 / -2;
   justify-self: center;
   align-self: center;
   text-align: center;
 }

 .annotation-details__header-title :first-child {
   margin-top: 0;
 }

 .annotation-details__header-title :last-child {
   margin-bottom: 0;
 }

 .annotation-details__header-title>* {
   margin-bottom: 0;
 }

 .annotation-details__header-title>*+* {
   margin-top: calc(12 * var(--font-size-basis));
 }

 .annotation-details__header-action {
   /* Last column */
   grid-column: -2 / -1;
   justify-self: end;
   align-self: center;
 }

 .annotation-details__figure {
   background-color: var(--color-hado-gray);
 }

 .concepts-figure {
   --figure-height-basis: calc(var(--figure-height) / var(--image-height, 1080));
   --figure-width-basis: calc(var(--figure-width) / var(--image-width, 1920));
   margin: 0;
   position: relative;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   /* border: 1px soli d red; */
 }

 .concepts-figure__image,
 .concepts-figure__svg,
 .concepts-figure__field-container {
   grid-column: 1 / -1;
   grid-row: 1 / -1;
   align-self: center;
   justify-self: center;
   display: block;

   /* Scale to fit the available width */
   width: calc(var(--image-width, 1920) * var(--figure-width-basis));
   height: calc(var(--image-height, 1080) * var(--figure-width-basis));

   /* Scale to fit the available height */
   width: calc(var(--image-width, 1920) * var(--figure-height-basis));
   height: calc(var(--image-height, 1080) * var(--figure-height-basis));

   /* Scale to fit the available width and height */
   width: min(calc(var(--image-width, 1920) * var(--figure-width-basis)), calc(var(--image-width, 1920) * var(--figure-height-basis)));
   height: min(calc(var(--image-height, 1080) * var(--figure-width-basis)), calc(var(--image-height, 1080) * var(--figure-height-basis)));
 }

 .concepts-figure__image {
   /* border: 2px solid blue; */
 }

 .concepts-figure__svg {
   /* border: 3px solid green; */
   --color: #E4FFF8;
   --stroke-width: 2px;
   position: relative;
   z-index: 1;
 }
/* 
 .concepts-figure__svg-group {
   stroke: var(--color);
   stroke-width: calc(var(--stroke-width) * 1px);
 } */

 .concepts-figure__svg-group * {
   transition: stroke 0.6s, fill 0.6s;
 }

 /* .concepts-figure__svg-group[data-state="active"] {
   stroke-width: calc(var(--stroke-width) * 1px);
 } */

 /* .concepts-figure__svg-group:not([data-state="active"]) .concepts-figure__svg-circle {
   opacity: 0;
 } */

 .concepts-figure__svg-circle {
   r: calc(var(--image-height, 1080) / 50 * 1px);
 }

 .concepts-figure__svg-group[data-state="idle"] .concepts-figure__svg-shape,
 .concepts-figure__svg-group[data-state="idle"] .concepts-figure__svg-text {
   cursor: pointer;
 }

 .concepts-figure__svg-group[data-state="active"] .concepts-figure__svg-text,
 .concepts-figure__svg-group[data-state="moving"] .concepts-figure__svg-text {
   cursor: unset;
 }

 .concepts-figure__svg-group[data-state="active"] .concepts-figure__svg-shape {
   cursor: grab;
 }

 .concepts-figure__svg-group[data-state="moving"] .concepts-figure__svg-shape {
   cursor: grabbing;
 }

 .concepts-figure__svg-circle[data-draggable="top-left"] {
   cursor: nwse-resize;
 }

 .concepts-figure__svg-circle[data-draggable="top-right"] {
   cursor: nesw-resize;
 }

 .concepts-figure__svg-circle[data-draggable="bottom-left"] {
   cursor: nesw-resize;
 }

 .concepts-figure__svg-circle[data-draggable="bottom-right"] {
   cursor: nwse-resize;
 }

 /* .concepts-figure__-active::before {
content: "";
background-color: hsla(360, 0%, 0%, 0.8);
position: absolute;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%
} */
 [data-annotation-field="hidden"] {
   z-index: -1;
   width: 0;
   height: 0;
   overflow: hidden;
 }

 [data-annotation-field="visible"] {
   z-index: 9999;
 }

 .concepts-figure__svg-text {
   font-style: italic;
   font-size: calc((var(--image-height, 1080) / 333) * 1rem);
   transform: translate(0, 1.25em);
   fill: var(--color);
 }

 .concepts-figure__field-container {
   /* border: 1px solid green; */
   position: relative;
 }

 .concepts-figure__field-list,
 .concepts-figure__field-item {
   list-style: none;
   margin-left: 0;
   padding-left: 0;
 }


 .image-details__image {
   max-width: 100%;
 }