.tips {
  background-color: var(--color-charcoal--medium);
  box-sizing: border-box;
  position: absolute;
  right: var(--spacing-0);
  top: 70px;
  width: 368px;
  z-index: 1;
}

.label-tree__group--new {
  display: none;
  &.is-open {
    display: flex;
  }

  .form-control {
    background-color: transparent;
    border-color: transparent;
    height: 40px;
    padding-left: 13px; // To light up with other groups
  }
}

.label-tree__group {
  &:hover {
    background-image: linear-gradient(
      to right,
      var(--color-charcoal--dark),
      var(--color-charcoal--medium70) 20%,
      var(--color-charcoal--medium70) 80%,
      var(--color-charcoal--dark)
    );
  }
}

.label-tree__groupinv {
  &:hover {
    background-image: linear-gradient(
      to right,
      var(--color-charcoal--medium70),
      var(--color-charcoal--dark) 20%,
      var(--color-charcoal--dark) 80%,
      var(--color-charcoal--medium70)
    );
  }
}

.label-tree__subgroups {
  display: none;
  &.is-open {
    display: flex;
  }
}

.label-tree__subgroup {
  font-size: 14px;

  .layout-max {
    box-sizing: border-box;
  }
}
