.modal-wrap {
  align-items: flex-start;
  left: 0;
  margin: 15vh auto;
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 50px;
  transform: scale(0.95);
  transition-duration: 0.25s;
  transition-property: transform, opacity;
  width: 620px;
  z-index: 100;
  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: scale(1);
    display: flex;
  }
  &.is-wide {
    width: 790px;
  }
  overflow: auto;
}

.modal-wide {
  width: 968px;
}

.modal-extra-wide {
  width: 1200px;
}

.modal-super-wide {
  width: 1600px;
}

.modal {
  background-color: $color-charcoal--medium;
  overflow: hidden;
  position: relative;
  width: 100%;

  .fixed-height-scroll {
    max-height: 300px;
    overflow-y: scroll;
  }
}

.modal__close {
  position: absolute;
  right: 12px;
  top: 12px;
  &:hover,
  &:focus {
    color: $color-white;
  }
}

.modal__header {
  border-bottom: 1px solid $color-charcoal--light70;
  box-sizing: border-box;
  width: 100%;

  svg {
    margin-bottom: $spacing-2;
  }

  label {
    // Search for Invite People to project
    margin-top: $spacing-4;
  }
}

.modal__back {
  // Appears on View Log modal
  margin-left: -45px;
  position: absolute;
}

.modal__main {
  box-sizing: border-box;
  margin-bottom: $spacing-4;
  width: 95%;
}

.modal__footer {
  width: 100%;

  .btn {
    border-radius: 0;
    flex-grow: 1;
  }
}

.modal__text {
  max-width: 350px;
}

.modal__map-header {
  box-sizing: border-box;

  input {
    margin-right: $spacing-1;
    width: 120px;
  }
}

.modal__map {
  height: 50vh;
  width: 100%;
}

.modal__errors {
  margin-top: $spacing-2;
}

.loading {
  position: fixed;
  top: 150px;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  z-index: 100;
}

.modal__main {
  // form used out of modal too give it a different width in modal
  .col-modal-12 {
    width: 100%;
  }
  .col-modal-5 {
    width: (5 / 12 * 100%);
  }
}
