.pagination a {
  border: 1px solid var(--color-charcoal--light);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--color-gray--light);
  display: flex;
  font-weight: var(--weight-semibold);
  justify-content: center;
  margin-right: 3px;
  min-width: 30px;
  padding: 8px;
  &.is-active,
  &:hover,
  &:focus {
    border-color: var(--color-purple);
  }
  &:first-child,
  &:last-child {
    font-weight: var(--weight-regular);
  }
  &.is-disabled {
    color: var(--color-gray--dark);
    cursor: not-allowed;
    &:hover,
    &:focus {
      border-color: var(--color-charcoal--light);
    }
  }
}

.pagination__ellipsis {
  margin-right: 3px;
  padding: 8px;
}
