.pagination a {
  border: 1px solid $color-charcoal--light;
  border-radius: 2px;
  box-sizing: border-box;
  color: $color-gray--light;
  display: flex;
  font-weight: $weight-semibold;
  justify-content: center;
  margin-right: 3px;
  min-width: 30px;
  padding: 8px;
  &.is-active,
  &:hover,
  &:focus {
    border-color: $color-purple;
  }
  &:first-child,
  &:last-child {
    font-weight: $weight-regular;
  }
  &.is-disabled {
    color: $color-gray--dark;
    cursor: not-allowed;
    &:hover,
    &:focus {
      border-color: $color-charcoal--light;
    }
  }
}

.pagination__ellipsis {
  margin-right: 3px;
  padding: 8px;
}
