.progress {
  -webkit-appearance: none;
  height: 4px;
  width: 100%;
  &::-webkit-progress-bar {
    background-color: var(--color-charcoal--light);
  }
  &::-webkit-progress-value {
    background-color: var(--color-green);
  }

  & + label svg {
    fill: var(--color-green);
    margin-right: var(--spacing-3);
  }
}
