.search {
  width: 525px;

  label {
    background-color: var(--color-charcoal--medium);
    cursor: pointer;
    flex-shrink: 0;
    height: 34px;
    margin-right: var(--spacing-3);
    transition-duration: 0.25s;
    transition-property: background-color, color;
    width: 34px;
    &:hover,
    &:focus {
      background-color: var(--color-white);
      color: var(--color-charcoal--medium);
    }
  }

  input {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    font-family: inherit;
    margin-top: -7px; // Because background color on focus
    & + .more {
      display: none;
    }
    & + .more:hover {
      display: block;
    }
    &:focus {
      background-color: var(--color-charcoal--medium);
      outline: none;

      & + .more {
        display: block;
      }
    }
    &.has-more:focus {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.search--alt {
  width: initial;

  input {
    background-color: var(--color-charcoal--medium);
    margin-top: 0;
    padding-right: 36px;
  }

  svg {
    position: absolute;
    right: 0;
  }
}

.search__map-button {
  display: none;
  position: absolute;
  right: 30px;
  top: 10px;

  .search.show-map & {
    display: flex;
  }
}
