// Side Nav
settings-nav {
  overflow-y: scroll;
}
// A vertical list of navigational links, typically used on the left side of a page.
.SideNav {
  // position: fixed;
  //overflow-y: scroll;
  //overflow-x: hidden;
  //height: 90vh;
  background-color: var(--color-charcoal--medium);
  transition: background-color 500ms ease;
  border-radius: 10px;
  margin-bottom: 150px;
  padding: 0;

  &:first-child .SideNav-item {
    border-radius: 10px 10px 0 0;
    //overflow: hidden;
    width: auto;
  }

  &:last-child {
    //border-bottom: none;
    border-radius: 0 0 10px 10px;
  }

  @media only screen and (var(--width-sm)) {
    position: relative;
  }
}

.SideNav-heading button,
.SideNav-item {
  position: relative;
  overflow: auto;
  display: block;
  max-height: 50vh;
  padding: 12px var(--spacing-3);
  color: var(--color-gray--light);
  text-align: left;
  background-color: transparent;
  border: 0;
  //border-top: 1px solid var(--color-gray--light);

  //&:first-child {
  //border-top: 0;
  //border-radius: 10px 10px 0 0;
  //}

  // &:last-child {
  //   // makes sure there is a "bottom border" in case the list is not long enough
  //   // stylelint-disable-next-line primer/box-shadow
  //   box-shadow: 0 1px 0 1px;
  // }

  &[selected="true"] {
    //background-color: var(--color-charcoal--light70);
    color: var(--color-white);
  }

  .SideNav-heading button,
  .item-label,
  .SideNav-icon {
    pointer-events: none;
  }

  .item-label,
  .SideNav-icon {
    vertical-align: top;
  }
}
.SideNav-item,
.SideNav-heading {
  border: 1px solid var(--color-charcoal--light70);

  &:last-child {
    //border-bottom: none;
    border-radius: 0 0 10px 10px;
  }
}

// States
.SideNav-heading button:hover,
.SideNav-item:hover {
  color: var(--color-white);

  // Bar on the left
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 4px;
    pointer-events: none;
    content: "";
    background-color: var(--color-gray--light);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.SideNav-heading:focus,
.SideNav-heading button:focus,
.SideNav-item:focus {
  text-decoration: none;
  // stylelint-disable-next-line primer/colors
  //background-color: var(--color-charcoal--light70);
  color: var(--color-white);
  outline: none;

  // Bar on the left
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 4px;
    pointer-events: none;
    content: "";
    background-color: var(--color-purple);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.SideNav-heading button:active,
.SideNav-item:active {
  background-color: var(--color-gray--light);
}

.SideNav-heading button[aria-current]:not([aria-current="false"]),
.SideNav-heading button[aria-selected="true"],
.SideNav-item[aria-current]:not([aria-current="false"]),
.SideNav-item[aria-selected="true"] {
  background-color: var(--color-charcoal--light70);
  color: var(--color-white);
}

// Icon
//
// Makes sure multiple icons are vertically aligned

.SideNav-icon {
  width: 16px;
  margin-right: 15px;
  color: auto;
  //color: var(--color-charcoal--light70);
}

.SubItems {
  //background: var(--color-gray--dark);
  margin-bottom: 0;
  border: 0;
  position: relative;
  overflow: auto;
  max-height: 40vh;
  min-height: 10vh;

  &[hidden] {
    display: none;
  }
}

// Sub Nav
//
// A more lightweight version, suited as a sub nav
.SideNav-subItem {
  position: relative;
  display: block;
  margin: 15px 0 15px 44px;
  color: var(--color-gray--light);
  text-align: left;
  background-color: transparent;
  border: 0;
  width: fit-content;
  @extend .f2 !optional;

  &[selected="true"] {
    color: var(--color-white);
  }
}

.SideNav-subItem:hover {
  //text-decoration: underline;
  color: var(--color-white);
}

.SideNav-subItem[aria-current]:not([aria-current="false"]),
.SideNav-subItem[aria-selected="true"] {
  font-weight: var(--weight-semibold);
  color: var(--color-white);
}
.SideNav-heading button span {
  @extend .f1 !optional;
}

.SideNav-heading[selected="true"] {
  background-color: var(--color-charcoal--light70);
}

.SideNav-heading[selected="true"] button,
.SideNav-item[selected="true"] {
  color: white;
  //background-color: var(--color-charcoal--light70);
  // KEEP this if they click into sub items
  // Bar on the left
  // Bar on the left
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 4px;
    pointer-events: none;
    content: "";
    background-color: var(--color-purple);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.Nav-action {
  transition: color 0.2s ease-in-out;
  font-weight: bold;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  @extend .h3 !optional;
  &:hover {
    //transform: scale(1.1);
    color: var(--color-purple);
  }
}
