.table {
  table-layout: fixed;

  thead,
  tbody {
    border-bottom: 1px solid $color-charcoal--light;
  }

  td {
    height: 40px;
    vertical-align: middle;
  }

  tr:first-child td {
    padding-top: 12px;
  }

  tr:last-child td {
    padding-bottom: 12px;
  }

  .btn-small {
    width: initial;
  }
}

.sort-icon {
  margin-right: 10px;
  float: right;
  svg {
    fill: $color-white;
  }
}

.analysis__table,
.annotations__table {
  color: $color-gray--light;
  table-layout: fixed;

  th,
  td {
    padding: $spacing-2 $spacing-3;
    vertical-align: middle;
  }

  th {
    color: $color-white;
    font-weight: $weight-semibold;
  }

  td:first-child {
    color: $color-white;
  }
}

.analysis__table {
  th:last-child {
    width: 20px;
  }

  tr {
    height: 55px;
  }

  & > tbody > tr:not(.analysis__nested-table-wrap) {
    &:hover {
      background-color: $color-charcoal--medium;
      border-radius: 6px;
    }
    &.is-active {
      background-color: $color-charcoal--medium;
      & + .analysis__nested-table-wrap {
        background-color: $color-charcoal--medium;
        display: table-row;
      }
    }
  }
}

.apps__table {
  margin: 0 auto;
  max-height: 57vh;
  height: 47vw;
  overflow-y: scroll;
  display: block;
  border: 1px solid $color-charcoal--medium-dark;

  thead {
    background-color: $color-blue;
  }

  th {
    background-color: $color-blue;
    &:hover {
      color: $color-white;
      background-color: $color-blue;
      .sort-icon svg {
        fill: $color-white;
      }
    }
  }

  th {
    position: sticky;
    top: 0;
  }

  th,
  td {
    // width: 15%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $color-gray--light;
    word-break: break-all;

    // &.wide {
    //    width: 20%
    // }

    // &.narrow {
    //    min-width: 5%;
    // }
  }

  tr {
    width: 100%;
    &.even {
      background-color: $color-charcoal--medium;
      &.selected,
      &:hover {
        background-color: $color-white !important;
      }
    }
    &.odd {
      background-color: $color-charcoal--light;
      &.selected,
      &:hover {
        background-color: $color-white !important;
      }
    }

    &.selected,
    &:hover {
      background-color: $color-white;
      color: $color-charcoal--medium-dark !important;
      //  cursor: pointer;
      .sort-icon svg {
        fill: $color-charcoal--medium-dark;
      }
    }
  }
}

.annotations__table img {
  height: 36px;
  object-fit: cover;
  width: 36px;
}

.analysis__nested-table-wrap {
  display: none;
}

.analysis__nested-table {
  display: block;
  max-height: 280px;
  overflow: auto;

  th {
    background-color: $color-charcoal--medium;
    position: sticky;
    top: 0;
    width: 160px;
  }

  tr {
    height: 40px;
  }

  td {
    color: $color-gray--light;
    &:first-child {
      color: $color-gray--light;
    }
  }
}

.timeline-settings-view-table {
  border: 2px solid #4b5263;
  tr:nth-child(odd) {
    background-color: #0f1116;
  }
  tr:nth-child(even) {
    background-color: #00070d;
  }
  tr.selected,
  tr:hover {
    background-color: #1e2129;
    color: #ffffff;
  }
  tr.selected,
  tr:hover {
    fill: #a2afcd;
  }
  th {
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #4b5263;
    background-color: #262e3d;
    overflow-wrap: break-word;
  }
  td {
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #4b5263;
    overflow-wrap: break-word;
  }
  td.no-vertical-border {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  th.no-vertical-border {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}

.video-settings-info-table {
  width: 100%;
  tr:nth-child(odd) {
    background-color: #0f1116;
  }
  tr:nth-child(even) {
    background-color: #00070d;
  }
  tr.selected,
  tr:hover {
    background-color: #1e2129;
    color: #ffffff;
  }
  tr.selected,
  tr:hover {
    fill: #a2afcd;
  }
  th {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #4b5263;
    background-color: #262e3d;
    overflow-wrap: break-word;
  }
  td {
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #4b5263;
    overflow-wrap: break-word;
  }
}

.file-table {
  width: 100%;
  tr:nth-child(even) {
    background-color: #00070d;
  }
  tr.selected,
  tr:hover {
    background-color: #1e2129;
    color: #ffffff;
  }
  tr.selected,
  tr:hover {
    fill: #a2afcd;
  }
  th {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #a2afcd;
    background-color: #696cff;
    overflow-wrap: break-word;
  }
  td {
    vertical-align: middle;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #a2afcd;
    overflow-wrap: break-word;
  }
}
