.tooltip-nav-preview {
  background-color: var(--color-charcoal--medium);
  box-shadow: rgb(0 0 0 / 70%) 3px 3px 15px 5px;
  border-radius: 3px;
  color: var(--color-gray--dark);
  font-size: 12px;
  line-height: 1.5;
  // opacity: 0;
  padding: var(--spacing-2);
  pointer-events: none;
  position: absolute;
  // text-align: center;
  // transition-duration: .25s;
  // transition-property: opacity;
  top: calc(100% + 8px);
  width: auto;
  max-width: 400px;
  z-index: 3;

  img {
    max-width: 200px;
  }
}

.tooltip-seek-preview {
  background-color: var(--color-charcoal--medium);
  border-radius: 3px;
  color: var(--color-gray--dark);
  font-size: 12px;
  line-height: 1.5;
  // opacity: 0;
  padding: var(--spacing-2);
  pointer-events: none;
  position: absolute;
  // text-align: center;
  // transition-duration: .25s;
  // transition-property: opacity;
  top: calc(100% + 16px);
  width: auto;
  max-width: 400px;
  z-index: 1;

  img {
    max-width: 200px;
  }
}

[tooltip] {
  position: relative;
  &.tooltip-left:before {
    margin-left: -100px;
  }
  &.tooltip-right:before {
    margin-left: 100px;
  }
  &:before {
    background-color: var(--color-charcoal--medium);
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 70%) 3px 3px 15px 5px;
    color: var(--color-gray--dark);
    content: attr(tooltip);
    font-size: 12px;
    line-height: 1.5;
    opacity: 0;
    padding: var(--spacing-2);
    pointer-events: none;
    position: absolute;
    text-align: center;
    transition-duration: 0.25s;
    transition-property: opacity;
    top: calc(100% + 8px);
    width: 100px;
    z-index: 1;
  }
  &:hover:before {
    opacity: 1;
  }
}

[wide-tooltip] {
  position: relative;
  &.tooltip-left:before {
    margin-left: -100px;
  }
  &:before {
    background-color: var(--color-charcoal--medium);
    border-radius: 3px;
    color: var(--color-gray--dark);
    content: attr(wide-tooltip);
    font-size: 12px;
    line-height: 1.5;
    opacity: 0;
    padding: var(--spacing-2);
    pointer-events: none;
    position: absolute;
    text-align: center;
    transition-duration: 0.25s;
    transition-property: opacity;
    top: calc(100% + 8px);
    width: 200px;
    z-index: 1;
  }
  &:hover:before {
    opacity: 1;
  }
}
