.files-wrap {
  background-color: var(--color-charcoal--medium);
  align-self: flex-start;
  margin-right: 20px;
}

.files__header {
  align-items: stretch;
  border-bottom: 1px solid var(--color-charcoal--light);
}

.files__nav-type {
  margin-right: var(--spacing-5);
}
.files__nav-type.is-active {
  color: var(--color-white);
}
.files__nav-type.is-active:after {
  background-color: var(--color-purple);
  bottom: -1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.files__main {
  flex-wrap: wrap;
}
.files__main .more .form-select + svg {
  top: 2px;
}

.files__footer {
  border-top: 1px solid var(--color-charcoal--light);
  box-sizing: border-box;
  height: 57px;
}

.file:hover, .file:focus {
  background-color: var(--color-charcoal--light70);
}
.file:hover media-more, .file:focus media-more {
  opacity: 1;
}
.file media-more {
  opacity: 0;
}

.file__link[href] {
  flex-grow: 1;
}
.file__link[href]:hover .file__name span:first-child, .file__link[href]:focus .file__name span:first-child {
  text-decoration: underline;
}

.file__image {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.file__name {
  display: block;
  max-width: 260px;
}

.files__expand.is-expanded:before {
  content: "Collapse";
}
.files__expand.is-expanded span {
  display: none;
}
.files__expand.is-expanded svg {
  transform: rotate(180deg);
}

.files__previous {
  position: absolute;
  left: 0;
}

.files__next {
  position: absolute;
  right: 0;
}
