.header {
  background-color: var(--color-charcoal--medium);
  box-sizing: border-box;
  height: 62px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__menu:hover, .header__menu:focus {
  color: var(--color-white);
}

.header__layout-wrap {
  left: 50%;
  max-width: 1140px;
  position: fixed;
  transform: translateX(-50%);
  width: 100%;
  top: 0;
  z-index: 1;
}
.header__layout-wrap progress {
  margin-top: var(--spacing-2);
  width: 100%;
}

.header__user {
  width: 309px;
}

.header__layout {
  height: 62px;
}

.header__processing {
  width: 316px;
}
.header__processing + svg {
  margin-left: var(--spacing-6);
}

.header__notification {
  animation-delay: 6s;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-name: fade-out;
  background-color: var(--color-white);
  color: var(--color-charcoal--dark);
}
.header__notification svg {
  fill: var(--color-green);
}
svg + .header__notification {
  margin-left: -var(--spacing-3);
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}
.header__error {
  background-color: var(--color-red);
}
