.login__form {
  background-color: var(--color-charcoal--medium);
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.password-reset__form {
  background-color: var(--color-charcoal--medium);
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
