.permission-table {
  background-color: #00070d;
  width: 100%;
}
.permission-table tr.selected,
.permission-table tr:hover {
  background-color: #1e2129;
  color: #ffffff;
  fill: #a2afcd;
}
.permission-table th {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #a2afcd;
  background-color: #696cff;
  overflow-wrap: break-word;
}
.permission-table td {
  vertical-align: middle;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #a2afcd;
  overflow-wrap: break-word;
}
.permission-table td > *,
.permission-table th > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-cell-padding {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.long-text-td {
  position: relative;
  cursor: pointer;
}
.long-text-td span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.long-text-td::after {
  content: attr(data-tooltip);
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.1s ease-in-out;
  background-color: var(--color-purple-200);
  color: black;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  white-space: normal;
  max-width: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.long-text-td:hover::after {
  visibility: visible;
  opacity: 1;
}

.card-list {
  border: 1px solid var(--color-charcoal--light);
  padding: var(--spacing-3);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--spacing-2);
  max-height: 330px;
  overflow-y: auto;
}
.group-member-card,
.user-group-card {
  border: 1px solid var(--color-charcoal--light);
  border-radius: 5%;
}
.group-member-card.to-be-added,
.user-group-card.to-be-added {
  border: 1px dashed var(--color-parakeet-green);
}
.group-member-card.to-be-deleted,
.user-group-card.to-be-deleted {
  border: 1px dashed var(--color-coral);
}
.group-member-card--username,
.group-member-card--email,
.user-group-card--id,
.user-group-card--name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Show "..." for overflowing text */
}

.calculator-table-div {
  max-height: 500px;
  overflow-y: auto;
}
.calculator-table {
  font-size: 12px;
}
.calculator-table th {
  vertical-align: middle;
  position: sticky;
  top: 0;
  z-index: 1;
}
.calculator-table thead tr {
  height: 30px;
}
/* Second header row to make header's 2 rows are both sticky */
.calculator-table thead tr:nth-child(2) th {
  top: 30px;
}

.calculator-table tr.ord-row {
  font-weight: bold;
  color: var(--color-purple-400);
}
.calculator-table tr.final-row {
  font-weight: bold;
  color: var(--color-purple);
}

.ord-row td:nth-child(1),
.final-row td:nth-child(1) {
  text-align: left;
  padding-left: 3px;
}

/* Webkit scrollbar styling for .calculator-table-div */
.calculator-table-div::-webkit-scrollbar {
  width: 10px;
}
.calculator-table-div::-webkit-scrollbar-track {
  background: #e0e0e0;
}
.calculator-table-div::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  border: 2px solid #e0e0e0;
}
/* Firefox scrollbar styling for .calculator-table-div div */
.calculator-table-div {
  scrollbar-width: thin;
  scrollbar-color: #888 #e0e0e0;
}

.table-view-filter {
  background-color: var(--color-charcoal--medium);
  box-sizing: border-box;
}
