.table-cell-padding {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.group-member-list {
  border: 1px solid var(--color-charcoal--light);
  padding: var(--spacing-3);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--spacing-2);
  height: minmax(fit-content, 150px);
  overflow-y: auto;
}

.group-member-card {
  border: 1px solid var(--color-charcoal--light);
  border-radius: 5%;
}
.group-member-card.to-be-added {
  border: 1px dashed var(--color-parakeet-green);
}
.group-member-card.to-be-deleted {
  border: 1px dashed var(--color-coral);
}
.group-member-card--username,
.group-member-card--email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Show "..." for overflowing text */
}

.calculator-table-div {
  max-height: 500px;
  overflow-y: auto;
}
.calculator-table {
  font-size: 12px;
}
.calculator-table th {
  position: sticky;
  top: 0;
  z-index: 1;
}
.calculator-table tr.ord-row {
  font-weight: bold;
  color: var(--color-purple-400);
}
.calculator-table tr.final-row {
  font-weight: bold;
  color: var(--color-purple);
}
