.toggle-content {
  display: none;
}

.toggle-content__trigger:hover span, .toggle-content__trigger:focus span {
  text-decoration: underline;
}

/****/
.chevron {
  transition: transform 350ms ease-in-out;
  pointer-events: none;
}

.chevron-trigger-90 .chevron {
  transform: rotate(90deg);
}
