.drop-zone {
  border: 1px dashed #696cff;
  padding: 1rem;
  text-align: center;
  transition-duration: 0.25s;
  transition-property: background-color, border-style, color;
}

.drop-zone:focus,
.drop-zone.drag-over {
  background-color: #696cff;
  color: #ffffff;
}


.upload-table tr td:first-child {
  width: 10%;
  word-break: break-all;
}

.upload-table {
  border-spacing: 5px;
}

.upload-table tr td:nth-child(2) {
  width: 40%;
  word-break: break-all;
}

/* .upload-table tr td:nth-child(3) {
  width: 29%;
  word-break: break-all;
} */