.drop-zone {
  border: 1px dashed #696cff;
  padding: 1rem;
  text-align: center;
  transition-duration: 0.25s;
  transition-property: background-color, border-style, color;
}

.drop-zone:focus,
.drop-zone.drag-over {
  background-color: #696cff;
  color: #ffffff;
}

