<template id="entity-panel-image">
  <div class="py-2">
    <figure class="image-details__figure">
      <div id="entity-panel-image--image_pane">
        <span class="concepts-figure">
          <img
            crossorigin="anonymous"
            id="entity-panel-image--preview"
            class="concepts-figure__image image-details__image col-12"
          />
          <span
            id="entity-panel-image--svgDiv"
            class="concepts-figure__svg image-details__image"
            style="width: 100%; height: 100%"
          ></span>
        </span>
      </div>
    </figure>
  </div>
</template>
