azure-storage-blob==12.23.1
azure-communication-email==1.0.0
boto3==1.34.66
certifi==2024.7.4
cryptography==44.0.1
datadog==0.49.1
ddtrace==2.7.4
django==4.2.20
django-cognito-jwt==0.0.4
django-enumfields==2.1.1
django-extensions==3.2.3
django-ltree==0.5.3
django-pgtrigger==4.11.0
djangorestframework==3.15.2
elasticsearch==7.10.1
google-auth==2.3.3
google-cloud-storage==2.1.0
grafana-django-saml2-auth==3.9.0
gunicorn==23.0.0
hiredis==2.3.2
imageio==2.34.0
inflection==0.5.1
jinja2==3.1.6
jsonschema==4.22.0
kubernetes==29.0.0
markdown==3.6
oci==2.138.0
okta-jwt-verifier==0.2.5
openapi-core==0.19.1
pgvector==0.2.5
pillow==10.3.0
pillow-avif-plugin==1.4.3
pillow-heif==0.15.0
progressbar2==4.4.2
psycopg2-binary==2.9.9
pyjwt[crypto]==2.5.0
pytest-django==4.8.0
pytest-xdist==3.5.0
python-dateutil==2.8.2
python-magic==0.4.27
pyyaml==6.0.1
rawpy==0.19.1
redis==5.0.3
requests==2.32.0
rq==1.16.1
slackclient==2.9.4
tzdata==2024.1
ujson==5.9.0
uritemplate==4.1.1
werkzeug==3.0.6
wheel==0.43.0
