boto3==1.20.41
datadog==0.43.0
django==3.2.19
django_admin_json_editor==0.2.3
django-cognito-jwt==0.0.4
django-enumfields==2.1.1
django-extensions==3.1.5
django-ltree==0.5.3
djangorestframework==3.13.1
elasticsearch==7.10.1
gevent==1.4.0
google-auth==2.3.3
google-cloud-storage==2.1.0
grafana-django-saml2-auth==3.9.0
greenlet==0.4.15
gunicorn==20.1.0
hiredis==2.0.0
imageio==2.22.2
jsonschema==4.9.1
kubernetes==21.7.0
markdown==3.3.6
minio==7.1.5
oci==2.89.0
okta-jwt-verifier==0.2.3
pgvector==0.1.6
pillow==9.5.0
pillow-avif-plugin==1.2.2
progressbar2==4.0.0
psycopg2-binary==2.9.3
pydot==1.4.2
pygments==2.11.2
pygraphviz==1.9
pyjwt[crypto]==2.5.0
pylint
pylint-django
pyparsing==3.0.7
pytest-django==4.5.2
pytest-xdist==3.1.0
python-dateutil==2.8.2
rawpy==0.17.2
redis==4.4.4
requests==2.27.0
rq==1.11.1
slackclient==2.9.3
ujson==5.4.0
uritemplate==4.1.1
