.bulk-edit-bar {
   position: fixed;
	left: 0;
	right: 0;
   bottom: 0;
	// background: $color-gray--light;
	background: $color-charcoal--light;
	border-top: 1px solid $color-white;
   box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.8);
	resize: horizontal;
}

entity-gallery-bulk-edit {
	position: fixed;
	top: 0;
	z-index: 50;
}
.bulk-edit--cancel {

	// X CANCEL
	
	// button {
		position: absolute;
		top: 0;
		left: 0;

		margin-bottom: $spacing-3;
		margin-left: -$spacing-1; // SVG includes a bit of space around it
		&:hover,
		&:focus {
			color: $color-white;
		}

		&.has-background svg {
			background-color: $color-charcoal--light;
		}
	// }
	&:after {
		content: "[Esc]";
		color: $color-gray--light;
      display: block;
      font-size: 12px;
      &:hover,
		&:focus {
			color: $color-white;
		}
	}
}

// .bulk-edit--quick-select {
// 	a {
// 		padding-left: 10px;
// 	}
// 	a:first-child {
// 		padding-left: 0;
// 		padding-right: 10px;
// 		border-right: 1px solid $color-gray--light;
// 	}
// }

.entity-card.is-selected {
   border: 1px solid $color-purple;
}

.bulk-edit-bar--right_form {
	padding-left: 5%;
}

.bulk-edit-attr-choices,
.bulk-edit-form__panel-group{
	background: $color-charcoal--medium-dark;
	max-height: 300px;
	overflow-y: scroll;
}

// .bulk-edit-form__panel-group {
// 	width: 80%;
// }

.bulk-edit-attr-choices_bulk-edit {
	height: 200px;
	overflow-y: scroll;
	.entity-gallery-labels {
		background: $color-charcoal--medium-dark;
	}
}

.scroll-comparison-panel {
	height: 200px;
	overflow-y: scroll;
}