.enitity-gallery {
  background-color: $color-charcoal--medium;
  //padding-bottom: 1000px;
}

.enitity-gallery__ul {
  background-color: $color-charcoal--light;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
}

.entity-resize {
  //border: 1px solid $color-charcoal--medium;
  //padding: $spacing-2 $spacing-4;

  .entity-resize__label {
    padding-right: $spacing-2;
  }
}

.entity-labels {
  border: 1px solid $color-charcoal--light;
  padding: $spacing-1 $spacing-3;
}

.enitity-gallery__tools,
.entity-gallery__paginator {
  //background-color: $color-charcoal--light;
  padding: $spacing-1;
  margin: $spacing-1 0;
}

.entity-card {
  background-color: $color-charcoal--dark;
  padding: 6px;
  position: relative;

  &:hover,
  &:focus {
    details {
      opacity: 1;
    }
  }

  a > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
  }

  details {
    opacity: 0;
  }
}

.entity-panel--container {
  width: 0;
  background: $color-charcoal--medium;
  border-left: 10px solid $color-purple;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
  border-bottom: 1px solid $color-gray--dark50;

  &.slide {
    transition: 1s;
    width: 410px;
    @media (min-width: $width-md) {
      width: 610px;
    }
  }
}

.entity-panel {
  img {
    background-color: $color-charcoal--medium;
    height: 200px;
    object-fit: contain;
    //width: 100%
    width: 390px;
    background-image: linear-gradient(
        to right,
        $color-teal--50 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, $color-teal--50 1px, transparent 1px);
    background-size: 10px 10px;
    padding: 10px;
    padding: 10px;
    margin: 5px auto;
  }

  & > span {
    box-sizing: border-box;
    height: 24px;
    width: 87px;
  }
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}
