.table {
  table-layout: fixed;

  thead,
  tbody {
    border-bottom: 1px solid $color-charcoal--light;
  }

  td {
    height: 40px;
    vertical-align: middle;
  }

  tr:first-child td {
    padding-top: 12px;
  }

  tr:last-child td {
    padding-bottom: 12px;
  }

  .btn-small {
    width: initial;
  }
}

.analysis__table,
.annotations__table {
  color: $color-gray--light;
  table-layout: fixed;

  th,
  td {
    padding: $spacing-2 $spacing-3;
    vertical-align: middle;
  }

  th {
    color: $color-white;
    font-weight: $weight-semibold;
  }

  td:first-child {
    color: $color-white;
  }

}

.analysis__table {
  th:last-child {
    width: 20px;
  }

  tr {
    height: 55px;
  }

  & > tbody > tr:not(.analysis__nested-table-wrap) {
    cursor: pointer;
    &:hover {
      background-color: $color-charcoal--medium;
      border-radius: 6px;
    }
    &.is-active {
      background-color: $color-charcoal--medium;
      & + .analysis__nested-table-wrap {
        background-color: $color-charcoal--medium;
        display: table-row;
      }
    }
  }
}

.annotations__table img {
  height: 36px;
  object-fit: cover;
  width: 36px;
}

.analysis__nested-table-wrap {
  display: none;
}

.analysis__nested-table {
  display: block;
  max-height: 280px;
  overflow: auto;

  th {
    background-color: $color-charcoal--medium;
    position: sticky;
    top: 0;
    width: 160px;
  }

  tr {
    height: 40px;
  }

  td {
    color: $color-gray--light;
    &:first-child {
      color: $color-gray--light;
    }
  }
}


.file-table {
  width: 100%;
  tr:nth-child(even) {
    background-color: #00070d;
  }
  tr.selected, tr:hover {
    background-color: #1e2129;
    color: #ffffff;
  }
  tr.selected, tr:hover {
    fill: #a2afcd;
  }
  th {
    background-color: #696cff;
  }

  th,
  td {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #a2afcd;
  }
}
