[tooltip] {
  position: relative;
  &.tooltip-left {
    margin-left: -100px;
  }
  &:before {
    background-color: $color-charcoal--medium;
    border-radius: 3px;
    color: $color-gray--dark;
    content: attr(tooltip);
    font-size: 12px;
    line-height: 1.5;
    opacity: 0;
    padding: $spacing-2;
    pointer-events: none;
    position: absolute;
    text-align: center;
    transition-duration: .25s;
    transition-property: opacity;
    top: calc(100% + 8px);
    width: 100px;
    z-index: 1;
  }
  &:hover:before {
    opacity: 1;
  }
}