{% extends "tator-base.html" %}

{% load static %}

{% block head %}
<title>Tator | Change Password</title>
{% endblock head %}

{% block body %}
<main class="layout-max py-4">
  <div class="main__header d-flex flex-column flex-items-center flex-justify-center py-6">
    <img class="py-4" src="{% static 'images/tator-logo.png' %}" width=400>
    <h1 class="h1">Enter new password for Tator</h1>
  </div>
  <form class="new-project__form rounded-2" style="width:400px" method="post">
    <div class="py-3 px-6">
      {% csrf_token %}
      <label class="d-flex flex-column py-2 text-semibold">
        <input class="form-control" name="old_password" id="id_old_password" placeholder="Old password" type="password" autofocus required>
      </label>
      <label class="d-flex flex-column py-2 text-semibold">
        <input class="form-control" name="new_password1" id="id_new_password1" placeholder="New password" type="password" required>
      </label>
      <label class="d-flex flex-column py-2 text-semibold">
        <input class="form-control" name="new_password2" id="id_new_password2" placeholder="New password confirmation" type="password" required>
      </label>
    </div>
    <div class="modal__footer d-flex">
      <input class="btn btn-clear" type="submit" value="Submit">
    </div>
  </form>
  <div class="main__header d-flex flex-column flex-items-center flex-justify-center py-6">
    {% if form.non_field_errors %}
    <ul class="form-errors">
      {% for error in form.non_field_errors %}
      <li>
        <h3 class="h3 text-red" style="text-align:center;width:400px">{{ error }}</h3>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% for field in form %}
    {% if field.errors %}
    <ul class="form-errors">
      <li>
        <h3 class="h3 text-red" style="text-align:center;width:400px">{{ field.errors }}</h3>
      </li>
    </ul>
    {% endif %}
    {% endfor %}
  </div>
</main>
{% endblock body %}
