{% extends "tator-base.html" %} {% block head %}
<title>Tator | Permission Settings</title>
<script type="module">
  import "{{ static_path }}/ui/src/js/permission-settings/index.js";
  import "{{ static_path }}/ui/src/js/components/index.js";
  const page = document.createElement("permission-settings");
  document.body.appendChild(page);
</script>
{% endblock head %} {% block body %}

<!-- <template id="permission-settings--header">
  <div
    id="header"
    class="annotation__header d-flex flex-items-center flex-justify-between px-2 f3"
  >
    <div class="d-flex flex-items-center">
      <settings-breadcrumbs
        id="project-settings--breadcrumbs"
      ></settings-breadcrumbs>
    </div>
    <div class="d-flex">
      <span style="width: 32px">
        <success-light></success-light>
      </span>
    </div>
  </div>
</template> -->

{% include "includes/components/form-container.html" %}
<template id="permission-settings">
  <main id="permission-settings--main" class="position-relative">
    <div id="settings-nav--div" class="py-6 clearfix position-relative px-md-6">
      <!-- Side nav -->
      <settings-nav id="settings-nav--nav"></settings-nav>

      <!-- Main page container -->
      <div
        id="settings-nav--item-container"
        class="NavItem float-left col-md-9 col-xl-10 col-xs-12"
      >
        <type-form-container form="group-edit" hidden></type-form-container>
        <type-form-container form="policy-edit" hidden></type-form-container>
      </div>
    </div>
  </main>
  <modal-dialog id="permission-settings--modal"></modal-dialog>
</template>

{% include "includes/components/side-nav-link.html" %}
<template id="settings-nav-template">
  <div
    id="settings-nav--nav"
    class="SideNav rounded-2 float-left col-xl-2 col-md-3 col-xs-12"
  >
    <!-- Permissions sidebar item -->
    <settings-nav-link type="Group">
      <svg
        slot="icon"
        class="SideNav-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
        <circle cx="9" cy="7" r="4"></circle>
        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
      </svg>
      <span slot="label">Groups</span>
    </settings-nav-link>

    <!-- Sidebar item -->
    <settings-nav-link type="Policy">
      <svg
        slot="icon"
        class="SideNav-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
        <circle cx="9" cy="7" r="4"></circle>
        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
      </svg>
      <span slot="label">Policies</span>
    </settings-nav-link>
  </div>
</template>

{% endblock body %}
