<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% if datadog_enabled %}
    {% include "datadog.html" %}
    {% endif %}
    <script>
      var BACKEND = '{{ backend }}';
      var KEYCLOAK_ENABLED = {{ keycloak_enabled }};
      window.addEventListener('unload', function () {
          console.info("Prevent BF Cache #1");
      });
      window.addEventListener('beforeunload', function () {
          console.info("Prevent BF Cache #2");
      });
    </script>
    <script src="/static/require-login.js"></script>
    <!-- script src="/static/tator-ui.js"></script -->
    <link rel="stylesheet" type="text/css" href="/static/tator-ui.css" />
    {% block head %}
    {% endblock head %}
  </head>
<body>
  {% block body %}
  {% endblock body %}
</body>

</html>
