<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script>
      const BACKEND = '{{ backend }}';
      const KEYCLOAK_ENABLED = {{ keycloak_enabled }};
    </script>
    <script src="/static/require-login.js"></script>
    <script src="/static/components.js"></script>
    <script src="/static/util.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/components.css" />
    {% block head %}
    {% endblock head %}
  </head>
<body>
  {% block body %}
  {% endblock body %}
</body>

</html>
