{% extends "tator-base.html" %}

{% load static %}

{% block head %}
<title>Tator | Analytics | Localization Gallery</title>
<script src={% static "project-detail.js" %}></script>
<script src={% static "analytics.js" %}></script>
{% endblock head %}

{% block body %}
<analytics-localizations
    username="{{ user|stringformat:'s' }}"
    email="{{ user.email }}"
    project-id="{{ project.id }}"
    project-name="{{ project.name }}"
    token="{{ token }}">
</analytics-localizations>
{% endblock body %}
