{% extends "tator-base.html" %}

{% load static %}

{% block head %}
<title>Tator | Project Settings</title>
<script src={% static "project-settings.js" %}></script>
{% endblock head %}

{% block body %}
<template id="project-settings--header">
  <div id="header" class="annotation__header d-flex flex-items-center flex-justify-between px-2 f3">
    <div class="d-flex flex-items-center">
      <settings-breadcrumbs id="project-settings--breadcrumbs"></settings-breadcrumbs>
    </div>
    <div class="d-flex">
      <span style="width: 32px;">
        <success-light></success-light>
      </span>
    </div>
  </div>
</template>

<template id="project-settings">
  <main id="project-settings--main" class="position-relative">
    <div id="settings-nav--div" class="py-6 clearfix position-relative px-md-6">
      <div id="settings-nav--nav" class="SideNav rounded-2 float-left col-xl-2 col-md-3 col-xs-12">

        <!-- Projects sidebar item -->
        <a id="SideNav--toggle-Project" class="SideNav-item" href="#itemDivId-Project-Current" title="Project"
          selected="false"><svg class="SideNav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
            height="16">
            <path fill-rule="evenodd"
              d="M1.75 0A1.75 1.75 0 000 1.75v12.5C0 15.216.784 16 1.75 16h12.5A1.75 1.75 0 0016 14.25V1.75A1.75 1.75 0 0014.25 0H1.75zM1.5 1.75a.25.25 0 01.25-.25h12.5a.25.25 0 01.25.25v12.5a.25.25 0 01-.25.25H1.75a.25.25 0 01-.25-.25V1.75zM11.75 3a.75.75 0 00-.75.75v7.5a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75zm-8.25.75a.75.75 0 011.5 0v5.5a.75.75 0 01-1.5 0v-5.5zM8 3a.75.75 0 00-.75.75v3.5a.75.75 0 001.5 0v-3.5A.75.75 0 008 3z">
            </path>
          </svg> <span class="item-label">Project</span>
        </a>

        <!-- Sidebar item -->
        <div class="SubNav">
          <div class="SideNav-heading f1 clearfix heading-for-MediaType">
            <button id="SideNav--toggle-MediaType" class="toggle-subitems-MediaType col-10 float-left" selected="false">
              <span>
                <svg class="SideNav-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 12 16">
                  <path fill-rule="evenodd"
                    d="M6 5h2v2H6V5zm6-.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v11l3-5 2 4 2-2 3 3V5z">
                  </path>
                </svg>
                <span class="item-label">
                  Media Types
                </span>
              </span>
            </button>
            <span class="float-right Nav-action col-2 f1 text-bold clickable ">+</span>
          </div>
          <nav class="SideNav SubItems  subitems-MediaType" hidden="">
            <placeholder-glow rows="6" className="SideNav-subItem"></placeholder-glow>
          </nav>
        </div>

        <!-- Sidebar item -->
        <div class="SubNav">
          <div class="SideNav-heading f1 clearfix heading-for-LocalizationType">
            <button id="SideNav--toggle-LocalizationType" class="toggle-subitems-LocalizationType col-10 float-left"
              selected="false">
              <span>
                <svg class="SideNav-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="1 1 20 20"
                  fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="12" cy="12" r="10"></circle>
                  <circle cx="12" cy="12" r="6"></circle>
                  <circle cx="12" cy="12" r="2"></circle>
                </svg>
                <span class="item-label">
                  Localization Types
                </span>
              </span>
            </button>
            <span class="float-right Nav-action col-2 f1 text-bold clickable ">+</span>
          </div>
          <nav class="SideNav SubItems  subitems-LocalizationType" hidden="">
            <placeholder-glow rows="6" className="SideNav-subItem"></placeholder-glow>
          </nav>
        </div>

        <!-- Sidebar item -->
        <div class="SubNav">
          <div class="SideNav-heading f1 clearfix heading-for-LeafType">

            <button id="SideNav--toggle-LeafType" class="toggle-subitems-LeafType col-10 float-left"
              selected="false"><span><svg class="SideNav-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" viewBox="0 0 512 512">
                  <title></title>
                  <path
                    d="M505.664 67.248c-55.376-41.964-140.592-67.017-227.955-67.017-108.060 0-196.113 37.728-241.58 103.51-21.354 30.895-33.165 67.479-35.104 108.737-1.727 36.737 4.442 77.363 18.342 121.073 47.437-142.192 179.91-253.551 332.633-253.551 0 0-142.913 37.616-232.762 154.096-0.056 0.069-1.247 1.545-3.307 4.349-18.040 24.139-33.769 51.581-45.539 82.664-19.935 47.415-38.392 112.474-38.392 190.891h64c0 0-9.715-61.111 7.18-131.395 27.945 3.778 52.929 5.653 75.426 5.653 58.839 0 100.685-12.73 131.694-40.062 27.784-24.489 43.099-57.393 59.312-92.228 24.762-53.204 52.827-113.505 134.327-160.076 4.665-2.666 7.681-7.496 8.028-12.858s-2.020-10.54-6.303-13.786z">
                  </path>
                </svg><span class="item-label">Leaf Types</span></span></button><span
              class="float-right Nav-action col-2 f1 text-bold clickable ">+</span>
          </div>
          <nav class="SideNav SubItems  subitems-LeafType" hidden="">
            <placeholder-glow rows="6" className="SideNav-subItem"></placeholder-glow>
          </nav>
        </div>

        <!-- Sidebar item -->
        <div class="SubNav">
          <div class="SideNav-heading f1 clearfix heading-for-StateType">
            <button id="SideNav--toggle-StateType" class="toggle-subitems-StateType col-10 float-left"
              selected="false"><span><svg class="SideNav-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path>
                  <line x1="4" y1="22" x2="4" y2="15"></line>
                </svg><span class="item-label">State Types</span></span></button><span
              class="float-right Nav-action col-2 f1 text-bold clickable ">+</span>
          </div>
          <nav class="SideNav SubItems  subitems-StateType" hidden="">
            <placeholder-glow rows="6" className="SideNav-subItem"></placeholder-glow>
          </nav>
        </div>

        <!-- Sidebar item -->
        <div class="SubNav">
          <div class="SideNav-heading f1 clearfix heading-for-Membership">
            <button id="SideNav--toggle-Membership" class="toggle-subitems-Membership col-10 float-left"
              selected="false"><span><svg class="SideNav-icon" xmlns="http://www.w3.org/2000/svg" width="1em"
                  height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg><span class="item-label">Memberships</span></span></button><span
              class="float-right Nav-action col-2 f1 text-bold clickable ">+</span>
          </div>
          <nav class="SideNav SubItems  subitems-Membership" hidden="">
            <placeholder-glow rows="6" className="SideNav-subItem"></placeholder-glow>
          </nav>
        </div>

        <!-- Sidebar item -->
        <div class="SubNav">
          <div class="SideNav-heading f1 clearfix heading-for-Version">
            <button id="SideNav--toggle-Version" class="toggle-subitems-Version col-10 float-left"
              selected="false"><span><svg class="SideNav-icon icon-layers no-fill" xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round">
                  <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                  <polyline points="2 17 12 22 22 17"></polyline>
                  <polyline points="2 12 12 17 22 12"></polyline>
                </svg><span class="item-label">Versions</span></span></button>

            <a href="#itemDivId-Version-New"
              class="text-white float-right Nav-action col-2 f1 text-bold clickable ">+</a>
          </div>
          <nav id="SideNav--Versions" class="SideNav SubItems  subitems-Version" hidden="">
            <placeholder-glow rows="6" className="SideNav-subItem"></placeholder-glow>
          </nav>
        </div>

        <!-- Sidebar item -->
        <div class="SubNav">
          <div class="SideNav-heading f1 clearfix heading-for-Algorithm">
            <button id="SideNav--toggle-Algorithm" class="toggle-subitems-Algorithm col-10 float-left"
              selected="false"><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="SideNav-icon icon-cpu no-fill">
                  <rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect>
                  <rect x="9" y="9" width="6" height="6"></rect>
                  <line x1="9" y1="1" x2="9" y2="4"></line>
                  <line x1="15" y1="1" x2="15" y2="4"></line>
                  <line x1="9" y1="20" x2="9" y2="23"></line>
                  <line x1="15" y1="20" x2="15" y2="23"></line>
                  <line x1="20" y1="9" x2="23" y2="9"></line>
                  <line x1="20" y1="14" x2="23" y2="14"></line>
                  <line x1="1" y1="9" x2="4" y2="9"></line>
                  <line x1="1" y1="14" x2="4" y2="14"></line>
                </svg><span class="item-label">Algorithms</span></span></button><span
              class="float-right Nav-action col-2 f1 text-bold clickable ">+</span>
          </div>
          <nav class="SideNav SubItems  subitems-Algorithm" hidden="">
            <placeholder-glow rows="6" className="SideNav-subItem"></placeholder-glow>
          </nav>
        </div>

        <!-- Sidebar item -->
        <div class="SubNav">
          <div class="SideNav-heading f1 clearfix heading-for-Applet">
            <button id="SideNav--toggle-Applet" class="toggle-subitems-Applet col-10 float-left" selected="false"><span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="SideNav-icon icon-cpu no-fill">
                  <rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect>
                  <rect x="9" y="9" width="6" height="6"></rect>
                  <line x1="9" y1="1" x2="9" y2="4"></line>
                  <line x1="15" y1="1" x2="15" y2="4"></line>
                  <line x1="9" y1="20" x2="9" y2="23"></line>
                  <line x1="15" y1="20" x2="15" y2="23"></line>
                  <line x1="20" y1="9" x2="23" y2="9"></line>
                  <line x1="20" y1="14" x2="23" y2="14"></line>
                  <line x1="1" y1="9" x2="4" y2="9"></line>
                  <line x1="1" y1="14" x2="4" y2="14"></line>
                </svg><span class="item-label">Applets</span></span>
            </button>
            <span class="float-right Nav-action col-2 f1 text-bold clickable ">+</span>
          </div>
          <nav class="SideNav SubItems  subitems-Applet" hidden="">
            <placeholder-glow rows="6" className="SideNav-subItem"></placeholder-glow>
          </nav>
        </div>
      </div>


      <!-- Main page container -->
      <div id="settings-nav--item-container" class="NavItem float-left col-md-9 col-xl-10 col-xs-12">
        <div id="itemDivId-Project-Current" class="item-box">
          <project-main-edit id="current-project-form"></project-main-edit>
        </div>
      </div>
    </div>
  </main>
  <modal-dialog id="project-settings--modal"></modal-dialog>
</template>

<template id="type-form">
  <div class="d-flex flex-row">
    <div class="pl-md-6 col-12 px-6">
      <h1 class="h3 pb-3 edit-project__h1" id="type-form--edit-h1">
        <span id="type-form-objectName">
          <!--OBJECT NAME GOES HERE-->
        </span>
        <span class="px-2"> | </span>
        <span class="text-gray text-normal type-form-typeName">
          <!--TYPE NAME GOES HERE-->
        </span>
        <span class="text-gray text-normal"> (ID <span id="type-form-id">
            <!--ID GOES HERE-->
          </span>)</span>
      </h1>
      <h1 id="type-form--new-h1" class="h3 pb-3 edit-project__h1" hidden>Add new <span class="type-form-typeName">
          <!--TYPE NAME GOES HERE-->
        </span></h1>
      <div>
        <div id="type-form-div" class="py-3 rounded-2   edit-project__config ">
          <!-- form goes here -->
        </div>
      </div>
      <div class="d-flex flex-items-center flex-justify-center py-3">
        <input id="type-form-save" type="submit" value="Save" class="btn btn-clear f1 text-semibold">
        <a href="#" id="type-form-reset" class="px-5 f1 text-gray hover-text-white">Reset</a>
      </div>
      <div class="text-red py-3 rounded-2  edit-project__config" style="background-color: transparent;">
        <div class="clearfix py-6">
          <div class="py-md-5 float-left col-md-5 col-sm-5 text-right">
            <button id="type-form-delete" class="btn btn-small btn-charcoal float-right btn-outline text-gray"
              style="margin-right: 10px;">Delete</button>
          </div>
          <div class="py-md-6 f1 text-gray float-left col-md-7 col-sm-7">
            Delete this <span class="type-form-typeName">
              <!--TYPE NAME GOES HERE-->
            </span> and all its data?
          </div>
        </div>
      </div>
    </div>
    <div id="type-form-attr-column" class="col-4" hidden="">
      <attributes-main id="type-form-attr-main"></attributes-main>
    </div>
  </div>
</template>

<template id="media-type-edit">
  <form id="media-type-edit--form">
    <text-input id="media-type-edit--name" name="Name" type="string"></text-input>
    <enum-input id="media-type-edit--data-type" name="Data Type"></enum-input>
    <text-input id="media-type-edit--description" name="Description" type="string"></text-input>
    <div id="media-type-edit--volume-div" hidden="">
      <text-input id="media-type-edit--volume" name="Default volume" type="number"></text-input>
      <div class="col-8 float-right f3 text-gray">Note: Range from 0 (no sound) to 100.</div>
    </div>
    <bool-input id="media-type-edit--visible" name="Visible" on-text="Yes" off-text="No"></bool-input>
  </form>
</template>

<template id="localization-type-edit">
  <form id="localization-type-edit--form">
    <text-input id="localization-type-edit--name" name="Name" type="string"></text-input>
    <enum-input id="localization-type-edit--data-type" name="Data Type"></enum-input>
    <text-input id="localization-type-edit--description" name="Description" type="string"></text-input>
    <color-inputs id="localization-type-edit--color-map" name="Color Map"></color-inputs>
    <bool-input id="localization-type-edit--visible" name="Visible" on-text="Yes" off-text="No"></bool-input>
    <bool-input id="localization-type-edit--drawable" name="Drawable" on-text="Yes" off-text="No"></bool-input>
    <text-input id="localization-type-edit--line-width" name="Line Width" type="int"></text-input>
    <bool-input id="localization-type-edit--grouping-default" name="Grouping Default" on-text="Yes" off-text="No">
    </bool-input>
    <checkbox-set id="localization-type-edit--media" name="Media" type="number"></checkbox-set>
  </form>
</template>

<template id="leaf-type-edit">
  <form id="leaf-type-edit--form">
    <text-input id="leaf-type-edit--name" name="Name" type="string"></text-input>
    <enum-input id="leaf-type-edit--data-type" name="Data Type"></enum-input>
    <text-input id="leaf-type-edit--description" name="Description" type="string"></text-input>
  </form>
</template>

<template id="state-type-edit">
  <form id="state-type-edit--form">
    <text-input id="state-type-edit--name" name="Name" type="string"></text-input>
    <enum-input id="state-type-edit--data-type" name="Data Type"></enum-input>
    <text-input id="state-type-edit--description" name="Description" type="string"></text-input>
    <bool-input id="state-type-edit--visible" name="Visible" on-text="Yes" off-text="No"></bool-input>
    <bool-input id="state-type-edit--grouping-default" name="Grouping Default" on-text="Yes" off-text="No"></bool-input>
    <checkbox-set id="state-type-edit--media" name="Media" type="number"></checkbox-set>
    <enum-input id="state-type-edit--association" name="Association"></enum-input>
    <enum-input id="state-type-edit--interpolation" name="Interpolation"></enum-input>
    <bool-input id="state-type-edit--delete-child" name="Delete Child Localizations" on-text="Yes" off-text="No">
    </bool-input>
  </form>
</template>

<template id="membership-edit">
  <form id="membership-edit--form">
    <user-input id="membership-edit--search-users" name="Search users"></user-input>
    <enum-input id="membership-edit--permission" name="Permission"></enum-input>
    <enum-input id="membership-edit--default-version" name="Default version"></enum-input>
  </form>
</template>

<template id="versions-edit">
  <form id="versions-edit--form">
    <text-input id="versions-edit--name" name="Name" type="string"></text-input>
    <text-input id="versions-edit--description" name="Description" type="string"></text-input>
    <bool-input id="versions-edit--show-empty" name="Show Empty" onText="Yes" offText="No"></bool-input>
    <text-input id="versions-edit--number" name="Number" disabled class="disabled" type="int"></text-input>
    <checkbox-set id="versions-edit--bases" name="Bases" type="number"></checkbox-set>
  </form>
</template>

<template id="algorithm-edit">
  <form id="algorithm-edit--form">
    <text-input id="algorithm-edit--name" name="Name" type="string"></text-input>
    <text-input id="algorithm-edit--description" name="Description" type="string"></text-input>
    <text-input id="algorithm-edit--registering-user" name="Registering User"></text-input>
    <file-input id="algorithm-edit--manifest" name="Manifest" for="manifest" type="yaml"></file-input>
    <text-input id="algorithm-edit--job-cluster" name="Job Cluster"
      tooltip="No Job Clusters associated to this Organization"></text-input>
    <text-input id="algorithm-edit--files" name="Files Per Job" type="int"></text-input>
    <array-input id="algorithm-edit--categories" name="Categories"></array-input>
    <array-object-input id="algorithm-edit--parameters" name="Parameters"
      properties="{&quot;name&quot;:&quot;text-input&quot;,&quot;value&quot;:&quot;text-input&quot;}"
      empty-row="{&quot;name&quot;:&quot;&quot;,&quot;value&quot;:&quot;&quot;}"></array-object-input>
  </form>
</template>


<template id="applet-edit">
  <form id="applet-edit--form">
    <text-input id="applet-edit--name" name="Name" type="string"></text-input>
    <link-input id="applet-edit--link" name="Link" type="string"></link-input>
    <text-input id="applet-edit--description" name="Description" type="string"></text-input>
    <file-input id="applet-edit--html-file" name="HTML File" for="applet" type="html"></file-input>
    <array-input id="applet-edit--categories" name="Categories"></array-input>
  </form>
</template>

<project-settings username="{{ user|stringformat:'s' }}" email="{{ user.email }}" project-id="{{ project.id }}"
  is-staff="{{ user.is_staff }}">
</project-settings>


{% endblock body %}