{% extends "tator-base.html" %}

{% load static %}

{% block head %}
<script src={% static "js/project-settings/settings-section.js" %}></script>
<script src={% static "js/project-settings/settings-box.js" %}></script>
<script src={% static "js/project-settings/settings-nav.js" %}></script>
<script src={% static "js/project-settings/settings-attributes.js" %}></script>
<script src={% static "js/project-settings/media-type-main-edit.js" %}></script>
<script src={% static "js/project-settings/project-main-edit.js" %}></script>
<script src={% static "js/project-settings/localization-edit.js" %}></script>
<script src={% static "js/project-settings/leaf-type-edit.js" %}></script>
<script src={% static "js/project-settings/state-type-edit.js" %}></script>
<script src={% static "js/project-settings/settings-input-helper.js" %}></script>
<script src={% static "js/project-settings/project-settings.js" %}></script>

<title>Tator | Project Settings</title>
{% endblock head %}

{% block body %}
<project-settings
  username="{{ user|stringformat:'s' }}"
  project-id="{{ project.id }}">
</project-settings>
{% endblock body %}
