{% extends "tator-base.html" %}

{% load static %}

{% block head %}
<title>Tator | Project Dashboard</title>
<script src={% static "projects.js" %}></script>
{% endblock head %}

{% block body %}
<template id=projects-dashboard>
  <main class="layout-max py-4">
    <div class="main__header d-flex flex-items-center flex-justify-between py-6">
      <h1 class="h1">Projects</h1>
      <a class="btn" id="new-project-button" style="display:none">New Project</a>
    </div>
    <div class="d-flex flex-column" id="projects">
      <new-project style="display:none" id="new-project"></new-project>
      <new-project-dialog id="new-project-dialog"></new-project-dialog>
      <delete-project id="delete-project"></delete-project>
    </div>
    <modal-notify id="modal-notify"></modal-notify>
  </main>
</template>

<template id=project-summary>
  <div class="projects d-flex flex-items-center rounded-2">
    <a class="projects__link d-flex flex-items-center text-white" id="project-link">
      <img class="projects__image px-2 rounded-1" crossorigin="anonymous" style="object-fit:cover" id="thumbnail">
      <div class="projects__text px-3">
        <h2 class="text-semibold py-2" id="name"></h2>
        <div class="projects__description d-flex py-2 f2 text-gray">
          <span id="num-files"></span><span class="px-2">·</span><span id="duration"></span>
          <div class="px-6 d-flex flex-items-center"></div>
        </div>
      </div>
    </a>
    <div class="projects__collaborators avatars d-flex flex-grow" id="avatars"></div>
    <details class="px-4 position-relative" id="more-button">
      <div class="projects__nav d-flex flex-items-center">
        <a class="px-2 h3 text-gray hover-text-white" href="/450/project-settings" id="settings-button">
          <i data-feather="settings"></i>
        </a>
        <button class="px-2 btn-clear h3 text-gray hover-text-white" id="remove-button">
          <i data-feather="trash-2"></i>
        </button>
      </div>
      <summary class="projects__more btn-clear h2 text-gray hover-text-white">
        <i data-feather="more-horizontal"></i>
      </summary>
    </details>
  </div>
</template>

<projects-dashboard
  username="{{ user|stringformat:'s' }}"
  email="{{ user.email }}">
</projects-dashboard>
{% endblock body %}
