{% load static %}
{% load settings_value %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href={% static "css/tator/tator.min.css" %} />
    {% settings_value "USE_MIN_JS" as settings_min_js %}
    {% if not settings_min_js %}
    <script src={% static "js/reconnecting-websocket.min.js" %}></script>
    <script src={% static "js/node-uuid.js" %}></script>
    <script src={% static "js/StreamSaver.js" %}></script>
    <script src={% static "js/zip-stream.js" %}></script>
    <script src={% static "js/util/get-cookie.js" %}></script>
    <script src={% static "js/util/identifying-attribute.js" %}></script>
    <script src={% static "js/util/fetch-retry.js" %}></script>
    <script src={% static "js/util/has-permission.js" %}></script>
    <script src={% static "js/components/tator-element.js" %}></script> 
    <script src={% static "js/components/labeled-checkbox.js" %}></script> 
    <script src={% static "js/components/modal-close.js" %}></script> 
    <script src={% static "js/components/modal-warning.js" %}></script> 
    <script src={% static "js/components/modal-dialog.js" %}></script> 
    <script src={% static "js/components/cancel-button.js" %}></script>
    <script src={% static "js/components/cancel-confirm.js" %}></script> 
    <script src={% static "js/components/big-upload-form.js" %}></script> 
    <script src={% static "js/components/upload-element.js" %}></script> 
    <script src={% static "js/components/progress-job.js" %}></script> 
    <script src={% static "js/components/progress-summary.js" %}></script> 
    <script src={% static "js/components/header-notification.js" %}></script> 
    <script src={% static "js/components/header-menu.js" %}></script> 
    <script src={% static "js/components/header-user.js" %}></script> 
    <script src={% static "js/components/header-main.js" %}></script> 
    <script src={% static "js/components/nav-close.js" %}></script> 
    <script src={% static "js/components/nav-back.js" %}></script> 
    <script src={% static "js/components/nav-shortcut.js" %}></script> 
    <script src={% static "js/components/nav-main.js" %}></script> 
    <script src={% static "js/components/keyboard-shortcuts.js" %}></script> 
    <script src={% static "js/components/tator-page.js" %}></script> 
    <script src={% static "js/components/more-icon.js" %}></script> 
    <script src={% static "js/components/form-text.js" %}></script> 
    <script src={% static "js/components/form-file.js" %}></script> 
    <script src={% static "js/components/chevron-right.js" %}></script>
    <script src={% static "js/components/text-autocomplete.js" %}></script>
    <script src={% static "js/components/warning-light.js" %}></script>
    <script src={% static "js/projects/settings-button.js" %}></script> 
    <script src={% static "js/projects/project-remove.js" %}></script> 
    <script src={% static "js/projects/project-nav.js" %}></script> 
    <script src={% static "js/projects/project-collaborators.js" %}></script> 
    <script src={% static "js/projects/project-description.js" %}></script> 
    <script src={% static "js/projects/project-summary.js" %}></script> 
    <script src={% static "js/projects/new-project.js" %}></script> 
    <script src={% static "js/projects/delete-project.js" %}></script> 
    <script src={% static "js/projects/projects-dashboard.js" %}></script> 
    <script src={% static "js/new-project/new-project-close.js" %}></script> 
    <script src={% static "js/new-project/custom/custom-form.js" %}></script> 
    <script src={% static "js/new-project/custom/custom.js" %}></script>
    <script src={% static "js/project-detail/new-algorithm-button.js" %}></script>
    <script src={% static "js/project-detail/algorithm-menu.js" %}></script>
    <script src={% static "js/project-detail/algorithm-button.js" %}></script>
    <script src={% static "js/project-detail/upload-button.js" %}></script>
    <script src={% static "js/project-detail/project-text.js" %}></script>
    <script src={% static "js/project-detail/project-search.js" %}></script>
    <script src={% static "js/project-detail/new-section.js" %}></script>
    <script src={% static "js/project-detail/section-search.js" %}></script>
    <script src={% static "js/project-detail/section-upload.js" %}></script>
    <script src={% static "js/project-detail/big-download-form.js" %}></script>
    <script src={% static "js/project-detail/download-button.js" %}></script>
    <script src={% static "js/project-detail/rename-button.js" %}></script>
    <script src={% static "js/project-detail/delete-button.js" %}></script>
    <script src={% static "js/project-detail/section-more.js" %}></script>
    <script src={% static "js/project-detail/media-move.js" %}></script>
    <script src={% static "js/project-detail/media-more.js" %}></script>
    <script src={% static "js/project-detail/media-description.js" %}></script>
    <script src={% static "js/project-detail/media-card.js" %}></script>
    <script src={% static "js/project-detail/section-prev.js" %}></script>
    <script src={% static "js/project-detail/section-next.js" %}></script>
    <script src={% static "js/project-detail/section-expand.js" %}></script>
    <script src={% static "js/project-detail/section-paginator.js" %}></script>
    <script src={% static "js/project-detail/section-files.js" %}></script>
    <script src={% static "js/project-detail/section-overview.js" %}></script>
    <script src={% static "js/project-detail/media-section.js" %}></script>
    <script src={% static "js/project-detail/delete-section-form.js" %}></script>
    <script src={% static "js/project-detail/delete-file-form.js" %}></script>
    <script src={% static "js/project-detail/new-algorithm-form.js" %}></script>
    <script src={% static "js/project-detail/project-detail.js" %}></script>
    <script src={% static "js/project-settings/project-settings.js" %}></script>
    <script src={% static "js/annotation/annotation-breadcrumbs.js" %}></script>
    <script src={% static "js/annotation/media-capture-button.js" %}></script>
    <script src={% static "js/annotation/media-link-button.js" %}></script>
    <script src={% static "js/annotation/media-prev-button.js" %}></script>
    <script src={% static "js/annotation/media-next-button.js" %}></script>
    <script src={% static "js/annotation/zoom-control.js" %}></script>
    <script src={% static "js/annotation/rate-control.js" %}></script>
    <script src={% static "js/annotation/quality-control.js" %}></script>
    <script src={% static "js/annotation/annotation-settings.js" %}></script>
    <script src={% static "js/annotation/edit-button.js" %}></script>
    <script src={% static "js/annotation/box-button.js" %}></script>
    <script src={% static "js/annotation/line-button.js" %}></script>
    <script src={% static "js/annotation/point-button.js" %}></script>
    <script src={% static "js/annotation/zoom-in-button.js" %}></script>
    <script src={% static "js/annotation/zoom-out-button.js" %}></script>
    <script src={% static "js/annotation/pan-button.js" %}></script>
    <script src={% static "js/annotation/annotation-sidebar.js" %}></script>
    <script src={% static "js/annotation/rewind-button.js" %}></script>
    <script src={% static "js/annotation/play-button.js" %}></script>
    <script src={% static "js/annotation/fast-forward-button.js" %}></script>
    <script src={% static "js/annotation/frame-prev.js" %}></script>
    <script src={% static "js/annotation/frame-next.js" %}></script>
    <script src={% static "js/annotation/timeline-canvas.js" %}></script>
    <script src={% static "js/annotation/video-fullscreen.js" %}></script>
    <script src={% static "js/annotator/FrameBuffer.js" %}></script>
    <script src={% static "js/annotator/drawGL_colors.js" %}></script>
    <script src={% static "js/annotator/drawGL.js" %}></script>
    <script src={% static "js/annotator/annotation.js" %}></script>
    <script src={% static "js/annotator/video.js" %}></script>
    <script src={% static "js/annotator/image.js" %}></script>
    <script src={% static "js/annotation/annotation-player.js" %}></script>
    <script src={% static "js/annotation/annotation-image.js" %}></script>
    <script src={% static "js/annotation/bool-input.js" %}></script>
    <script src={% static "js/annotation/enum-input.js" %}></script>
    <script src={% static "js/annotation/text-input.js" %}></script>
    <script src={% static "js/annotation/attribute-panel.js" %}></script>
    <script src={% static "js/annotation/recents-panel.js" %}></script>
    <script src={% static "js/annotation/save-dialog.js" %}></script>
    <script src={% static "js/annotation/entity-button.js" %}></script>
    <script src={% static "js/annotation/media-panel.js" %}></script>
    <script src={% static "js/annotation/frame-panel.js" %}></script>
    <script src={% static "js/annotation/annotation-search.js" %}></script>
    <script src={% static "js/annotation/entity-browser.js" %}></script>
    <script src={% static "js/annotation/entity-prev-button.js" %}></script>
    <script src={% static "js/annotation/entity-next-button.js" %}></script>
    <script src={% static "js/annotation/entity-delete-button.js" %}></script>
    <script src={% static "js/annotation/entity-redraw-button.js" %}></script>
    <script src={% static "js/annotation/entity-more.js" %}></script>
    <script src={% static "js/annotation/entity-selector.js" %}></script>
    <script src={% static "js/annotation/annotation-browser.js" %}></script>
    <script src={% static "js/annotation/undo-buffer.js" %}></script>
    <script src={% static "js/annotation/annotation-data.js" %}></script>
    <script src={% static "js/annotation/annotation-page.js" %}></script>
    <script src={% static "js/annotation/seek-bar.js" %}></script>
    <script src={% static "js/annotation/version-button.js" %}></script>
    <script src={% static "js/annotation/version-select.js" %}></script>
    <script src={% static "js/annotation/version-dialog.js" %}></script>
    <script src={% static "js/annotation/volume-control.js" %}></script>
    <script src={% static "js/third_party/autocomplete.js" %}></script>
    <script src={% static "js/utilities.js" %}></script>
    {% else %}
    <script src={% static "js/tator/tator.min.js" %}></script>
    {% endif %}
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    {% block body %}
    {% endblock body %}
  </body>
</html>
